// Файл для записи глобальных стилей связанных с ссылками

a
    text-decoration: none

    &:not([class])
        color: $dark-accent-color
        text-decoration: underline
    
      &:hover
          text-decoration: none