<div class="add-favorites">

    {% if user %}

        {% if page.favorite %}
            <button class="add-favorites__btn btn js-favorites-btn" data-page-id="{{ page.data.id }}" data-event="remove" data-url="{{ path('remove_favorite_article_in_profile_api') }}">Удалить из избранного</button>
        {% else %}
            <button class="add-favorites__btn btn js-favorites-btn" data-page-id="{{ page.data.id }}" data-event="add" data-url="{{ path('add_favorite_article_in_profile_api') }}">Добавить в избранное</button>
        {% endif %}

    {% else %}
        <button class="add-favorites__btn btn btn--small js-add-favorites" data-logged="false">Добавить в избранное</button>
    {% endif %}

</div>