{% import 'app/site/macros/svg.html.twig' as svg %}

<div class="to-top is-hide">
    <div class="to-top__wrapper">
        <div class="to-top__icon">
            {{ svg.default('arrow-top') }}
        </div>
        <p class="to-top__text">Наверх</p>
    </div>
</div>