.box
    background-color: $white
    box-shadow: $shadow
    border-radius: $default-radius
    overflow: hidden

    &--hover
        transition: box-shadow $t-default

        &:hover
            box-shadow: $shadow-hover