.btn
    display: inline-block
    height: remSize(42px)
    line-height: remSize(38px)
    font-size: remSize(14px)
    font-weight: 500
    color: $accent-color
    text-transform: uppercase
    letter-spacing: remSize(0.8px)
    background-color: alpha($accent-color, 0.06)
    border: remSize(2px) solid alpha($dark-accent-color, 0.3)
    border-radius: $default-radius
    box-sizing: border-box
    outline: none
    cursor: pointer

    &:hover
        color: $dark-accent-color
        border-color: $accent-color

    &--white
        background-color: $white
        border-color: $white

    &--big
        height: remSize(52px)
        line-height: remSize(48px)
        font-size: remSize(16px)
        letter-spacing: remSize(1.2px)

    &--small
        height: remSize(32px)
        line-height: remSize(28px)
        font-size: remSize(12px)
        letter-spacing: remSize(0.4px)