.header-indent
    width: 100%
    height: remSize(76px)

    +below($small-desktop)
        height: remSize(72px)

    +below($medium-tablet-2)
        height: remSize(66px)

    +below($medium-tablet)
        height: remSize(60px)