.image-block
    margin: remSize(32px) auto remSize(42px)

    &__image
        margin: 0 auto
        display: block
        max-width: 100%

    &__text
        margin-top: remSize(12px)
        padding: 0 remSize(18px)
        line-height: 1.3
        font-size: remSize(14px)
        color: alpha($dark-gray, 0.8)