input
    padding: 0 remSize(16px)
    height: remSize(32px)
    font-size: remSize(15px)
    box-sizing: border-box
    border: remSize(1px) solid $light-gray
    border-radius: $default-radius
    outline: none

    &:focus
        border-color: $accent-color