.popup
    display: none
    width: remSize(420px)
    max-width: 90%
    background-color: $bg-color
    border-radius: $default-radius
    box-sizing: border-box
    border: remSize(1px) solid $gray
    box-shadow: 0 0 remSize(12px) 0 $box-shadow

    &__close
        position: absolute
        top: remSize(12px)
        right: remSize(12px)
        width: remSize(16px)
        height: @width
        cursor: pointer

        &:hover

            & .svg-icon
                fill: $dark-accent-color

        & .svg-icon
            fullSize()
            fill: $gray
            transition: fill $t-default

    &__content
        padding: remSize(24px) remSize(36px) remSize(28px)

    &__title
        margin-bottom: remSize(24px)
        padding-bottom: remSize(12px)
        position: relative
        font-size: remSize(24px)
        font-weight: 500

        &:after
            content: ""
            position: absolute
            left: 0
            bottom: 0
            width: remSize(120px)
            height: remSize(2px)
            background-color: $dark-accent-color

    &__descr
        margin-bottom: remSize(16px)
        max-width: 100%
        width: remSize(300px)
        line-height: 1.5

    &__form
        margin-top: remSize(48px)

    &__form-row
        margin-bottom: remSize(32px)

        &:last-child
            margin-bottom: 0

    &__form-input-item
        position: relative
        display: block
        width: 100%

        &--password

            & ^[0]__form-input
                padding-right: s("calc(%s + %s + %s)", remSize(16px), remSize(18px), remSize(12px))

        &.is-focused

            & ^[0]__form-input
                border-color: $accent-color

            & ^[0]__form-input-title
                color: $accent-color
                transform: translate(-12px, -38px)
                cursor: default

    &__form-input-wrapper
        position: relative

    &__form-input-title
        centered("left")
        left: remSize(16px)
        font-size: remSize(14px)
        color: $gray
        transition: color $t-default, transform $t-default
        cursor: text

    &__form-input
        width: 100%

    &__form-input-warn
        margin-top: remSize(4px)
        margin-left: remSize(16px)
        display: none
        font-size: remSize(12px)
        color: $red
        letter-spacing: remSize(0.2px)

        &.is-error
            display: block

    &__form-input-show-password
        centered("right")
        right: remSize(16px)
        width: remSize(18px)
        height: @width
        cursor: pointer

        &:hover

            & .svg-icon
                fill: $accent-color

        & .svg-icon
            fullSize()
            fill: $gray
            transition: fill $t-default

        &.is-active

            & .svg-icon
                fill: $dark-accent-color

    &__form-submit-wrapper
        margin-top: remSize(36px)
        text-align: center

    &__form-submit
        width: remSize(200px)

    &__other-popups
        margin-top: remSize(56px)

    &__other-popup-wrapper
        margin-bottom: remSize(4px)
        text-align: center

        &:last-child
            margin-bottom: 0

    &__other-popup
        display: inline-block
        color: $dark-accent-color
        border-bottom: remSize(1px) solid transparent
        cursor: pointer

        &:hover
            border-bottom-color: $dark-accent-color