.preview-popular-article
    padding: remSize(16px) remSize(24px)
    position: relative

    &__link
        fullSize()
        z-index: 2

    &__title
        margin-bottom: remSize(8px)
        max-width: 100%
        width: remSize(210px)
        line-height: 1.3
        font-size: remSize(16px)
        font-weight: 400

        +below($small-desktop)
            font-size: remSize(15px)

        +below($medium-tablet-2)
            width: 100%

    &__info
        display: flex
        align-items: flex-end
        font-size: remSize(14px)

        +below($small-desktop)
            font-size: remSize(13px)

    &__category
        position: relative
        font-weight: 500
        color: $accent-color
        z-index: 4

        &:hover
            text-decoration: underline

    &__indent
        margin: 0 remSize(4px)
        color: $gray

    &__time
        font-size: remSize(13px)
        color: $accent-color

        +below($small-desktop)
            font-size: remSize(12px)