.preview-article
    position: relative

    &--first
        display: none

        +below($medium-tablet-3)
            display: block

        +below($medium-tablet-2)
            display: none

        +below($medium-tablet)
            display: block

    &--medium
        display: none

        +below($medium-tablet-3)
            display: block

        +below($medium-tablet-2)
            display: none

        +below($medium-tablet)
            display: block

    &:hover

        & ^[0]__info
            background-color: alpha($dark-accent-color, 0.9)

        & ^[0]__title
            color: $accent-color

    &__link
        fullSize()
        z-index: 2

    &__img-wrapper
        position: relative
        height: remSize(180px)

        +below($medium-phone)
            height: remSize(160px)

    &__img
        fullSize("img")

    &__info
        padding: remSize(16px) remSize(18px)
        position: absolute
        left: 0
        bottom: 0
        display: flex
        justify-content: space-between
        width: 100%
        line-height: 1
        font-size: remSize(13px)
        text-shadow: $text-shadow
        letter-spacing: remSize(0.8px)
        background-color: alpha($dark-accent-color, 0.8)
        box-sizing: border-box
        transition: background-color $t-default
        z-index: 2

    &__category
        position: relative
        color: $white
        text-transform: uppercase
        z-index: 4

        &:hover
            text-decoration: underline

    &__time
        color: $white

    &__content
        padding: remSize(24px) remSize(18px) remSize(32px)

    &__title
        margin-bottom: remSize(10px)
        line-height: 1.2
        font-size: remSize(18px)
        transition: color $t-default

    &__description
        line-height: 1.4
        font-size: remSize(14px)
        color: $gray
        letter-spacing: remSize(0.2px)