.preview-medium-article
    position: relative
    height: remSize(210px)

    +below($medium-tablet-3)
        display: none

    +below($medium-tablet-2)
        display: block

    +below($medium-tablet)
        display: none

    &:hover

        & ^[0]__img-overlay
            background-color: alpha($dark-accent-color, 0.8)

    &__img-wrapper
        fullSize()
        z-index: 2

    &__img
        fullSize("img")

    &__img-overlay
        fullSize()
        background-color: alpha($dark-accent-color, 0.7)
        transition: background-color $t-default

    &__content
        padding: remSize(32px) remSize(36px)
        height: 100%
        position: relative
        box-sizing: border-box
        z-index: 4

    &__link
        fullSize()
        z-index: 2

    &__info
        margin-bottom: remSize(12px)
        display: flex
        align-items: flex-end
        line-height: 1
        text-shadow: $text-shadow
        letter-spacing: remSize(0.8px)

    &__category
        margin-right: remSize(16px)
        position: relative
        font-size: remSize(13px)
        font-weight: 500
        color: alpha($white, 0.8)
        text-transform: uppercase
        z-index: 4

        &:hover
            color: $white

    &__time
        font-size: remSize(12px)
        color: alpha($white, 0.8)

    &__title
        line-height: 1.3
        font-size: remSize(22px)
        color: $white
        text-shadow: $text-shadow
        letter-spacing: remSize(0.8px)

        +below($small-desktop)
            font-size: remSize(18px)