.to-top
    position: fixed
    top: 0
    left: 0
    //width: remSize(56px)
    height: 100vh
    transition: background-color $t-default, opacity $t-default, z-index $t-default
    cursor: pointer
    z-index: 12

    &:hover
        background-color: alpha($dark-gray, 0.2)

        & ^[0]__icon

            & .svg-icon
                fill: alpha($dark-gray-2, 0.8)

        & ^[0]__text
            color: alpha($dark-gray-2, 0.8)

    &.is-hide
        opacity: 0
        z-index: -10

    &__wrapper
        margin-top: remSize(24px)
        padding-left: remSize(18px)
        padding-right: remSize(32px)
        display: flex
        align-items: center

    &__icon
        margin-right: remSize(8px)
        position: relative
        width: remSize(14px)
        height: @width

        & .svg-icon
            fullSize()
            fill: alpha($dark-gray-2, 0.5)
            transition: fill $t-default

    &__text
        font-size: remSize(14px)
        font-weight: 500
        color: alpha($dark-gray-2, 0.5)
        transition: color $t-default