// Файл для записи глобальных стилей связанных с ссылками

a
    text-decoration: none
    transition: color $t-default

    &:not([class])
        text-decoration: underline
        color: $emerald
    
      &:hover
          text-decoration: none
          color: $dark-blue
