{% import 'app/site/macros/svg.html.twig' as svg %}

<div class="popup js-popup" data-popup="password-recovery">
    <div class="popup__close js-close-popup" data-close-popup="password-recovery">
        {{ svg.default('close') }}
    </div>
    <div class="popup__content">
        <p class="popup__title">Восстановление пароля</p>
        <p class="popup__descr">
            Введите email, указанный при регистрации. Мы&nbsp;вышлем инструкцию по&nbsp;восстановлению пароля.
        </p>
        <form class="popup__form js-form" action="" method="post" data-form-name="password-recovery">
            <div class="popup__form-content">
                <div class="popup__form-row">
                    <div class="popup__form-input-item js-focus-input-wrapper">
                        <label class="popup__form-input-wrapper">
                            <span class="popup__form-input-title">E-mail</span>
                            <input class="popup__form-input js-input js-focus-input" type="email" name="email" autocomplete="email">
                        </label>
                        <span class="popup__form-input-warn js-warn-block" data-warn-name="email"></span>
                    </div>
                </div>
            </div>
            <div class="popup__form-submit-wrapper">
                <button class="popup__form-submit js-submit-btn btn" data-form-name="password-recovery">Восстановить пароль</button>
            </div>
        </form>
        <div class="popup__other-popups">
            <div class="popup__other-popup-wrapper">
                <p class="popup__other-popup js-close-popup" data-close-popup="password-recovery" data-open-popup="login">Войти</p>
            </div>
            <div class="popup__other-popup-wrapper">
                <p class="popup__other-popup js-close-popup" data-close-popup="password-recovery" data-open-popup="registration">Зарегистрироваться</p>
            </div>
        </div>
    </div>
</div>