{% import 'app/site/macros/svg.html.twig' as svg %}

<div class="popup js-popup" data-popup="registration">
    <div class="popup__close js-close-popup" data-close-popup="registration">
        {{ svg.default('close') }}
    </div>
    <div class="popup__content">
        <p class="popup__title">Регистрация</p>
        <form class="popup__form js-form" action="" method="post" data-form-name="registration">
            <div class="popup__form-content">
                <div class="popup__form-row">
                    <div class="popup__form-input-item js-focus-input-wrapper">
                        <label class="popup__form-input-wrapper">
                            <span class="popup__form-input-title">E-mail</span>
                            <input class="popup__form-input js-input js-focus-input" type="email" name="email" autocomplete="email">
                        </label>
                        <span class="popup__form-input-warn js-warn-block" data-warn-name="email"></span>
                    </div>
                </div>
                <div class="popup__form-row">
                    <div class="popup__form-input-item popup__form-input-item--password js-focus-input-wrapper js-show-password-wrapper">
                        <label class="popup__form-input-wrapper">
                            <span class="popup__form-input-title">Пароль</span>
                            <input class="popup__form-input js-input js-focus-input js-show-password-input" type="password" name="password" autocomplete="password">
                            <span class="popup__form-input-show-password js-show-password-btn">
                            {{ svg.default('view') }}
                        </span>
                        </label>
                        <p class="popup__form-input-warn js-warn-block" data-warn-name="password"></p>
                    </div>
                </div>
            </div>
            <div class="popup__form-submit-wrapper">
                <button class="popup__form-submit js-submit-btn btn" data-form-name="registration">Зарегистрироваться</button>
            </div>
        </form>
        <div class="popup__other-popups">
            <div class="popup__other-popup-wrapper">
                <p class="popup__other-popup js-close-popup" data-close-popup="registration" data-open-popup="login">Войти</p>
            </div>
            <div class="popup__other-popup-wrapper">
                <p class="popup__other-popup js-close-popup" data-close-popup="registration" data-open-popup="password-recovery">Восстановить пароль</p>
            </div>
        </div>
    </div>
</div>