<template>
    <div class="category-card">

    </div>
</template>

<script>

    export default {
        name: "collection-category-card",
        props: {
            data: {
                type: Object,
                required: true
            }
        }
    }

</script>