<template>
    <div class="collection-card">
        <router-link class="collection-card__link"
                     :to="{name: 'collection', params: {id: data.id}}"
        ></router-link>
        <p class="collection-card__id">{{ data.id }}</p>
        <div class="collection-card__name-wrapper">
            <p class="collection-card__name">{{ data.name }}</p>
            <p class="collection-card__server-name">({{ data.serverName }})</p>
        </div>
        <div class="collection-card__line"></div>
        <div class="collection-card__info-item">
            <p class="collection-card__info-item-title" v-text="$ml.get('elements.collectionCard.titles.info.categories') + ':'"></p>
            <p class="collection-card__info-item-count">{{ data.categories.length }}</p>
        </div>
        <div class="collection-card__info-item">
            <p class="collection-card__info-item-title" v-text="$ml.get('elements.collectionCard.titles.info.items') + ':'"></p>
            <p class="collection-card__info-item-count">{{ getItemsLength }}</p>
        </div>
    </div>
</template>

<script>

    export default {
        name: "collection-card",
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
            getItemsLength() {
                let count = 0;
                for (let i in this.data.items) count += this.data.items[i].list.length;
                return count;
            }
        }
    }

</script>