<template>
    <div class="form-item-input">
        <p class="form-item-input__title">{{ title }}</p>
        <p class="form-item-input__description" v-if="description">{{ description }}</p>
        <label class="form-item-input__wrapper" v-if="type !== 'content'">
            <component class="form-item-input__input"
                       :class="['form-item-input__input--' + type, statusClass]"
                       v-bind:is="currentComponent"
                       :name="name"
                       :type="(type === 'password') ? password.type : type"
                       :data="data"
                       :submit-func="submitFunc"
            ></component>
            <span class="form-item-input__status">
                <v-svg class="success"
                       name="success"
                       v-if="data.success && !data.error.status"
                ></v-svg>
                <v-svg class="error"
                       name="error"
                       v-if="data.error.status && !data.success"
                ></v-svg>
            </span>
            <span class="form-item-input__error-message"
                  v-if="data.error.message"
                  v-text="$ml.get(data.error.message)"
            ></span>
        </label>
        <wysiwyg v-else
                 :data="data"
        ></wysiwyg>
        <div class="form-item-input__view-password"
             v-if="type === 'password' || password.view"
             :class="{'is-active': password.view}"
             @click="viewPassword"
        >
            <v-svg name="view"></v-svg>
        </div>
    </div>
</template>

<script>

    import {mapState} from "vuex";

    import vInputDefault from "./v-input-default";
    import vTextarea from "./v-textarea";
    import vInputCheckbox from "./v-input-checkbox";
    import vInputImage from "./v-input-image";
    import vInputDateTime from "./v-input-date-time";
    import vSelect from "./v-select";
    import wysiwyg from "../blocks/wysiwyg";
    import vSvg from "../mixins/v-svg";

    export default {
        name: "form-input",
        props: {
            name: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true,
                validator(value) {
                    return [
                        "text",
                        "password",
                        "textarea",
                        "select",
                        "image",
                        "file",
                        "checkbox",
                        "radio",
                        "email",
                        "color",
                        "number",
                        "date",
                        "time",
                        "date-time",
                        "url",
                        "content"
                    ].indexOf(value) !== -1;
                }
            },
            title: {
                type: String,
                required: true
            },
            description: String,
            data: Object,
            submitFunc: Function
        },
        data() {
            return {
                password: {
                    type: "password",
                    view: false
                }
            };
        },
        computed: {
            ...mapState("user", {
                userId: state => state.id
            }),
            currentComponent() {

                let type = this.type;

                if (["text", "password", "number"].indexOf(type) !== -1) {
                    return "v-input-default";
                } else if (type === "textarea") {
                    return "v-textarea";
                } else if (type === "checkbox") {
                    return "v-input-checkbox";
                } else if (type === "image") {
                    return "v-input-image";
                } else if (type === "date-time") {
                    return "v-input-date-time";
                } else if (type === "select") {
                    return "v-select";
                }
            },
            statusClass() {
                if (this.data.error.status && !this.data.success) {
                    return "is-error";
                } else if (!this.data.error.status && this.data.success) {
                    return "is-success";
                } else {
                    return null;
                }
            }
        },
        methods: {
            viewPassword() {

                let password = this.password;

                if (password.view) {
                    password.type = "password";
                    password.view = false;
                } else {
                    password.type = "text";
                    password.view = true;
                }
            }
        },
        components: {
            vInputDefault,
            vTextarea,
            vInputCheckbox,
            vInputImage,
            vInputDateTime,
            vSelect,
            wysiwyg,
            vSvg
        }
    };

</script>