<template>
    <div class="new-collection-item-card" v-if="collection && collection.items">
        <div class="new-collection-item-card__item">
            <p class="new-collection-item-card__item-title" v-text="$ml.get(textPath + 'titles.categories')"></p>
            <div class="new-collection-item-card__item-icon"></div>
        </div>
        <div class="new-collection-item-card__item" @click="openItemsType">
            <p class="new-collection-item-card__item-title" v-text="$ml.get(textPath + 'titles.items')"></p>
            <div class="new-collection-item-card__item-icon"></div>
        </div>
        <div class="new-collection-item-card__items-type">
            <div class="new-collection-item-card__items-type-close"></div>
            <p class="new-collection-item-card__items-type-title"></p>
            <p class="new-collection-item-card__items-type-descr"></p>
            <select class="new-collection-item-card__items-type-select" @change="selectType = $event.target.value">
                <option value="" v-text="$ml.get(textPath + 'other.emptySelectOption')"></option>
                <option v-for="(type, key) of collection.items" :value="key">{{ type.name }}</option>
            </select>
            <router-link class="new-collection-item-card__items-type-create btn"
                         :class="{'is-disabled': !selectType}"
                         :to="{name: 'createCollectionItem', params: {collectionId: collection.id, type: selectType}}"
                         v-text="$ml.get(textPath + 'btns.create')"
                         exact
            ></router-link>
        </div>
    </div>
</template>

<script>

    import {mapState} from "vuex";

    export default {
        name: "new-collection-item-card",
        data() {
            return {
                textPath: "elements.newCollectionItemCard.",
                selectType: null
            }
        },
        computed: {
            ...mapState("simpleManager", {
                collection: state => state.collections.current
            })
        },
        methods: {
            openItemsType() {
                // console.log(this.itemsType);
            }
        }
    }

</script>