<template>
    <input v-if="!data.params.autoGenerate.status"
           :type="type"
           :name="name"
           :ref="name"
           v-model="data.value"
    >
    <input v-else
           :type="type"
           :name="name"
           :ref="name"
           :value="data.value"
           @input="setValue($event.target.value)"
           :readonly="!data.params.autoGenerate.canEdit"
    >
</template>

<script>

    import {checkType} from "../../../General/js/general/check-type";

    export default {
        name: "v-input-default",
        props: {
            name: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true,
                validator(value) {
                    return [
                        "text",
                        "password",
                        "number"
                    ].indexOf(value) !== -1;
                }
            },
            data: {
                type: Object,
                required: true
            },
            submitFunc: Function
        },
        methods: {
            setValue(value) {

                if (!checkType(value, "string")) {
                    if (DEV) console.error();
                    return false;
                }

                this.data.value = value;
                this.data.params.autoGenerate.edit = true;

            }
        },
        watch: {
            "data.params.autoGenerate.baseInput.value"(newValue) {
                if (!this.data.params.autoGenerate.edit) {
                    this.data.value = this.data.params.autoGenerate.rule(this.$ml.current, newValue);
                }
            }
        }
    };
    
</script>