<template>
    <div>
        <input v-if="year && month && day"
               type="text"
               :name="name + '-date'"
               :ref="name + '-date'"
               :value="day + '.' + month + '.' + year"
               @input="setDateTime($event.target.value, 'date')"
               @blur="correctDataTime"
        >
        <input v-if="hours && minutes && seconds"
               type="text"
               :name="name + '-time'"
               :ref="name + '-date'"
               :value="hours + ':' + minutes + ':' + seconds"
               @input="setDateTime($event.target.value, 'time')"
               @blur="correctDataTime"
        >
    </div>
</template>

<script>

    import {checkType} from "../../../General/js/general/check-type";

    export default {
        name: "v-input-date-time",
        props: {
            name: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true,
                validator(value) {
                    return value === "date-time";
                }
            },
            data: {
                type: Object,
                required: true
            },
            submitFunc: Function
        },
        data() {
            return {
                day: null,
                month: null,
                year: null,
                hours: null,
                minutes: null,
                seconds: null
            }
        },
        computed: {
            dateTime() {
                return new Date(this.year, +this.month - 1, this.day, this.hours, this.minutes, this.seconds).toString();
            }
        },
        beforeMount() {

            let nowTime = new Date();

            this.year = nowTime.getFullYear();
            this.month = this.addZero(nowTime.getMonth() + 1);
            this.day = this.addZero(nowTime.getDate());
            this.hours = this.addZero(nowTime.getHours());
            this.minutes = this.addZero(nowTime.getMinutes());
            this.seconds = this.addZero(nowTime.getSeconds());
            this.data.value = this.dateTime;

        },
        methods: {
            addZero(value) {

                value = +value;

                if (!checkType(value, "number")) {
                    if (DEV) console.error();
                    return false;
                }

                if (value < 10) value = "0" + value;

                return value;

            },
            correctDataTime() {

                this.month = this.addZero(this.month);
                this.day = this.addZero(this.day);
                this.hours = this.addZero(this.hours);
                this.minutes = this.addZero(this.minutes);
                this.seconds = this.addZero(this.seconds);
                this.data.value = this.dateTime;

            },
            setDateTime(value, type) {

                if (type === "date") {

                    let [day, month, year] = value.split(".");

                    if (year) this.year = year;
                    if (month) this.month = month;
                    if (day) this.day = day;

                } else if (type === "time") {

                    let [hours, minutes, seconds] = value.split(":");

                    if (hours) this.hours = hours;
                    if (minutes) this.minutes = minutes;
                    if (seconds) this.seconds = seconds;

                }

                this.data.value = this.dateTime;

            }
        }
    }

</script>