<template>
    <input v-if="!data.params.checkboxes"
           :name="name"
           :type="type"
           :ref="name"
           v-model="data.value"
    >
    <div class="checkbox-wrapper" v-else>
        <label v-for="checkbox of $root.orderIndex(data.params.checkboxes)">
            <input :name="name"
                   :type="type"
                   :ref="name + '-' + checkbox.id"
                   :value="checkbox.id"
                   v-model="data.value"
            >
            <span v-text="checkbox.ml ? $ml.get(checkbox.name) : checkbox.name"></span>
        </label>
    </div>
</template>

<script>

    import {checkType} from "../../../General/js/general/check-type";

    export default {
        name: "v-input-checkbox",
        props: {
            name: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true,
                validator(value) {
                    return value === "checkbox";
                }
            },
            data: {
                type: Object,
                required: true
            }
        }
    }

</script>