<template>
    <div v-if="data.value">
        <div v-if="image || data.value.path">
            <div @click="upload">
                <img v-if="image" :src="image" :alt="name">
                <img v-else :src="data.value.path" :alt="name">
            </div>
            <div>
                <input type="text" v-model="data.value.name">
                <div></div>
                <button></button>
            </div>
        </div>
        <button v-else @click="upload">Upload</button>
        <input type="file"
               :name="name"
               :ref="name"
               :accept="acceptTypes"
               @change="previewImage"
        >
    </div>
</template>

<script>

    import {checkType} from "../../../General/js/general/check-type";

    export default {
        name: "v-input-image",
        props: {
            name: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true,
                validator(value) {
                    return value === "image";
                }
            },
            data: {
                type: Object,
                required: true
            },
            submitFunc: Function
        },
        data() {
            return {
                image: null
            }
        },
        computed: {
            acceptTypes() {

                let types = [];

                for (let type of this.data.value.acceptTypes) {
                    types.push("." + type);
                }

                return types.join(", ");

            }
        },
        methods: {
            upload() {
                this.$refs[this.name].click();
            },
            checkType(type) {

                if (!checkType(type, "string")) {
                    if (DEV) console.error();
                    return false;
                }

                type = type.split("/");

                return type[0] === "image" && this.data.value.acceptTypes.indexOf(type[1]) !== -1;

            },
            previewImage(e) {

                let vue = this;
                let input = e.target;
                let file = input.files[0];
                let checkType = this.checkType(file.type);

                if (!checkType) {
                    return false;
                }

                let reader = new FileReader();

                reader.onload = e => {
                    vue.image = e.target.result;
                };
                this.data.value.file = file;
                reader.readAsDataURL(file);

            }
        }
    }

</script>