<template>
    <select :name="name" v-model="data.value">
        <option v-for="option of data.selectList"
                :value="option.id"
                v-text="$ml.get(option.name)"
        >
        </option>
    </select>
</template>

<script>

    export default {
        name: "v-select",
        props: {
            name: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true,
                validator(value) {
                    return value === "select";
                }
            },
            data: {
                type: Object,
                required: true
            }
        },
        data() {
            return {}
        }
    }

</script>