<template>
    <textarea :name="name"
              :ref="name"
              v-model="data.value"
    ></textarea>
</template>

<script>

    export default {
        name: "v-textarea",
        props: {
            name: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true,
                validator(value) {
                    return value === "textarea";
                }
            },
            data: {
                type: Object,
                required: true
            }
        }
    };

</script>