<template>
    <div></div>
</template>

<script>

    import {mapState} from "vuex";

    export default {
        name: "category",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.category.meta"),
                categoryId: this.$route.params.id
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            })
        },
        metaInfo() {
            return this.metaInfo;
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.category.meta");
            }
        }
    }

</script>