<template>
    <div class="category">
        <category-form></category-form>
    </div>
</template>

<script>

    import {mapState} from "vuex";

    import categoryForm from "../../../forms/category-form";

    export default {
        name: "newCategory",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.newCategory.meta")
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            })
        },
        metaInfo() {
            return this.metaInfo;
        },
        components: {
            categoryForm
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.newCategory.meta");
            }
        }
    }

</script>