.articles-list
    position: relative

    &__item
        margin-bottom: remSize(24px)

        &:last-child
            margin-bottom: 0

    &__loader-wrapper
        margin-top: remSize(42px)
        position: relative
        display: none
        height: remSize(60px)

        &.is-active
            display: block

    &__loader
        loader-2($dark-accent-color, $accent-color, alpha($accent-color, 0.6))
        width: remSize(60px)
        height: @width