.article
    margin-bottom: remSize(24px)
    padding: remSize(48px) remSize(64px) remSize(72px)

    +below($small-desktop)
        padding: remSize(32px) remSize(42px) remSize(56px)

    +below($medium-tablet-2)
        padding: remSize(48px) remSize(64px) remSize(72px)

    +below($medium-tablet)
        padding: remSize(32px) remSize(42px) remSize(56px)

    +below($large-phone-2)
        padding: remSize(28px) remSize(24px) remSize(42px)

    +below($large-phone)
        padding: remSize(18px) remSize(16px) remSize(28px)

    &__top-info
        margin-bottom: remSize(18px)
        display: flex
        align-items: center

    &__category
        margin-right: remSize(24px)
        padding: 0 remSize(16px)

    &__title
        margin-bottom: remSize(12px)
        max-width: 100%
        width: remSize(640px)
        line-height: 1.2
        font-size: remSize(32px)

        +below($large-phone-3)
            font-size: remSize(24px)

        +below($large-phone)
            letter-spacing: 0

    &__bottom-info
        margin-bottom: remSize(24px)
        display: flex
        justify-content: space-between
        align-items: center

    &__info-items-wrapper
        display: flex

    &__info-item
        margin-right: remSize(24px)
        display: flex
        align-items: center

        +below($large-phone-3)
            margin-right: remSize(12px)

        &:last-child
            margin-right: 0

    &__info-item-icon
        margin-right: remSize(6px)
        position: relative
        width: remSize(14px)
        height: @width

        & .svg-icon
            fullSize()
            fill: $accent-color

    &__info-item-value
        font-size: remSize(13px)
        color: $accent-color

    &__preview-text
        margin-bottom: remSize(28px)
        max-width: 100%
        width: remSize(640px)
        line-height: 1.5
        font-size: remSize(18px)
        font-style: italic

        +below($large-phone-3)
            font-size: remSize(16px)

    &__share-block
        margin-bottom: remSize(32px)
        display: flex
        align-items: center

    &__share-title
        margin-right: remSize(12px)
        line-height: 1
        font-weight: 500
        color: $accent-color

    &__share-list
        display: flex

    &__share-link
        margin-right: remSize(6px)
        position: relative
        width: remSize(22px)
        height: @width
        cursor: pointer

        +below($medium-tablet-3)
            margin-right: remSize(8px)
            width: remSize(32px)
            height: @width

        +below($large-phone)
            width: remSize(24px)
            height: @width

        &:hover
            opacity: 0.6

        &:last-child
            margin-right: 0

        & .svg-icon
            fullSize()

    &__main-image
        margin-left: remSize(-64px)
        margin-bottom: remSize(48px)
        display: block
        width: s("calc(100% + (%s * 2))", remSize(64px))
        height: remSize(474px)
        background-color: $light-gray

        +below($small-tablet)
            height: remSize(384px)

        +below($medium-tablet-3)
            height: remSize(318px)

        +below($medium-tablet-2)
            height: remSize(410px)

        +below($medium-tablet)
            height: remSize(338px)

        +below($small-tablet)
            height: remSize(292px)

        +below($large-phone-3)
            margin-bottom: remSize(24px)
            height: remSize(248px)

        +below($large-phone-2)
            height: remSize(214px)

        +below($large-phone)
            margin-bottom: remSize(16px)
            height: remSize(180px)

        +below($medium-phone)
            height: remSize(158px)

        &.is-loaded
            height: auto

    & .content
        margin-bottom: remSize(36px)

    &__subscribe-block
        margin-bottom: remSize(16px)
        display: flex
        align-items: center

        +below($small-tablet)
            flex-wrap: wrap

    &__subscribe-description
        margin-right: remSize(12px)
        font-style: italic

        +below($small-tablet)
            margin-right: 0
            margin-bottom: remSize(12px)
            width: 100%

    &__subscribe-socials
        display: flex

    &__subscribe-social
        margin-right: remSize(8px)
        position: relative
        width: remSize(24px)
        height: @width

        +below($medium-tablet-3)
            width: remSize(28px)
            height: @width

        &:hover

            & .svg-icon
                fill: $dark-accent-color

        &:last-child
            margin-right: 0

        & .svg-icon
            fullSize()
            fill: $accent-color