.aside

    &__popular-articles-title
        margin-bottom: remSize(12px)
        font-weight: 400

    &__popular-articles-list

        & .preview-popular-article
            margin-bottom: remSize(16px)

            &:Last-child
                margin-bottom: 0