.breadcrumbs
    margin-bottom: remSize(16px)
    padding: remSize(8px) remSize(12px)

    &__list
        position: relative
        display: flex
        align-items: center
        overflow: hidden

        &:after
            content: ""
            centered("right")
            width: remSize(28px)
            height: 100%
            background: linear-gradient(to right, alpha($white, 0.0001), $white)

    &__link
        margin-right: remSize(18px)
        position: relative
        line-height: 1
        font-size: remSize(14px)
        color: $gray
        letter-spacing: remSize(0.2px)
        
        &:hover
            color: $accent-color
            text-decoration: underline

        &--home
            position: relative
            min-width: remSize(16px)
            width: remSize(16px)
            height: @width

            &:hover

                & .svg-icon
                    fill: $dark-accent-color

            & .svg-icon
                fullSize()
                fill: $accent-color

        &:last-child
            white-space: nowrap

        &.is-active
            font-weight: 500
            color: $accent-color

            &:hover
                text-decoration: none

        &:after
            content: "/"
            position: absolute
            top: 50%
            right: remSize(-12px)
            color: $gray
            transform: translateY(-50%)

        &:last-child
            margin-right: 0

            &:after
                display: none