.content

    & h2,
    & h3,
    & h4,
    & h5,
    & h6
        margin: remSize(48px) 0 remSize(18px)

    & p
        margin-bottom: remSize(18px)
        font-size: remSize(18px)

        +below($large-phone-3)
            font-size: remSize(16px)

    & blockquote
        margin: remSize(32px) 0 remSize(36px)
        padding: remSize(24px) remSize(42px) remSize(28px)
        line-height: 1.4
        font-size: remSize(20px)
        font-weight: 500
        color: $dark-accent-color
        background-color: $bg-color
        border-left: remSize(3px) solid $accent-color

        +below($small-tablet)
            padding: remSize(18px) remSize(32px) remSize(24px)
            font-size: remSize(18px)

        +below($large-phone)
            padding: remSize(18px) remSize(24px) remSize(24px)
            font-size: remSize(16px)

    & ul
        padding-left: remSize(16px)

        & li
            margin-bottom: remSize(16px)
            position: relative
            padding-left: remSize(16px)

            &:last-child
                margin-bottom: 0

            &:after
                content: ""
                position: absolute
                top: remSize(10px)
                left: 0
                width: remSize(6px)
                height: @width
                background-color: $accent-color
                border-radius: 50%