.footer-bottom
    padding: remSize(16px) 0 remSize(18px)
    background-color: $dark-gray-2
    
    &__copyright
        font-size: remSize(14px)
        color: $white
        text-align: center
        letter-spacing: remSize(0.6px)