.footer-top
    padding: remSize(32px) 0 remSize(42px)

    &__wrapper
        margin-left: remSize(-16px)
        display: flex
        width: s("calc(100% + (%s * 2))", remSize(16px))

        +below($large-phone-3)
            flex-wrap: wrap

        +below($large-phone)
            margin-left: 0
            width: 100%

    &__col
        margin: 0 remSize(16px)
        colWidth(1, 4, 16px, 16px)

        +below($medium-tablet-2)
            colWidth(1, 3, 16px, 16px)

        +below($large-phone-3)
            colWidth(1, 2, 16px, 16px)

        +below($large-phone)
            margin: 0 auto remSize(36px)
            width: 100%

        &--big
            colWidth(2, 4, 16px, 16px)

            +below($medium-tablet-2)
                colWidth(1, 3, 16px, 16px)

            +below($large-phone-3)
                colWidth(1, 2, 16px, 16px)

            +below($large-phone)
                width: 100%

        &--socials

            +below($large-phone-3)
                margin-top: remSize(32px)

            +below($large-phone)
                margin-top: 0
                margin-bottom: 0

    &__logo
        margin-bottom: remSize(32px)
        display: flex
        align-items: center
        width: remSize(156px)
        height: remSize(36px)

        &:hover

            & ^[0]__logo-text
                color: alpha($white, 0.6)

            & ^[0]__logo-icon

                & .svg-icon
                    fill: alpha($white, 0.6)

        &.is-main

            &:hover

                & ^[0]__logo-text
                    color: $white

                & ^[0]__logo-icon

                    & .svg-icon
                        fill: $white

    &__logo-text
        margin-right: remSize(8px)
        line-height: 1
        font-family: $caveat-font
        font-size: remSize(32px)
        color: $white

    &__logo-icon
        position: relative
        width: remSize(18px)
        height: @width

        & .svg-icon
            fullSize()
            top: remSize(2px)
            transform: rotate(10deg)
            fill: $white

    &__page
        margin-bottom: remSize(10px)
        display: block
        color: $white

        &:last-child
            margin-bottom: 0

        &:hover
            text-decoration: underline

    &__col-item
        color: $white

    &__col-item-title
        margin-bottom: remSize(24px)
        font-size: remSize(20px)
        font-weight: 500
        letter-spacing: remSize(1px)

        +below($small-desktop)
            font-size: remSize(18px)

        +below($large-phone)
            margin-bottom: remSize(16px)

    &__list-item
        margin-bottom: remSize(10px)
        letter-spacing: remSize(0.6px)

        +below($small-desktop)
            font-size: remSize(15px)

        &:last-child
            margin-bottom: 0

        & .link
            color: $white

            &:hover
                text-decoration: underline

    &__socials
        display: flex

    &__social
        margin-right: remSize(16px)
        position: relative
        width: remSize(28px)
        height: @width

        +below($small-tablet)
            margin-right: remSize(12px)
            width: remSize(24px)
            height: @width

        &:last-child
            margin-right: 0

        &:hover

            & .svg-icon
                fill: $accent-color

        & .svg-icon
            fullSize()
            fill: $white