$logo-margin-right = remSize(16px)
$logo-width = remSize(156px)
$tablet-logo-width = remSize(132px)
$nav-margin-right = remSize(24px)
$lk-width = remSize(108px)
$tablet-lk-width = remSize(42px)

.header
    padding: remSize(12px) 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: $bg-color
    z-index: 10

    &__wrapper
        padding: 0 remSize(12px)
        display: flex
        align-items: center
        box-sizing: border-box

        +below($medium-tablet)
            justify-content: space-between

    &__logo
        margin-right: $logo-margin-right
        display: flex
        align-items: center
        width: $logo-width
        height: remSize(36px)

        +below($medium-tablet-2)
            width: $tablet-logo-width

        &:hover

            & ^[0]__logo-text
                color: $dark-accent-color

            & ^[0]__logo-icon

                & .svg-icon
                    fill: $dark-accent-color

        &.is-main

            &:hover

                & ^[0]__logo-text
                    color: $dark-gray-2

                & ^[0]__logo-icon

                    & .svg-icon
                        fill: $dark-gray-2

    &__logo-text
        margin-right: remSize(8px)
        line-height: 1
        font-family: $caveat-font
        font-size: remSize(32px)
        color: $dark-gray-2

        +below($medium-tablet-2)
            font-size: remSize(24px)

    &__logo-icon
        position: relative
        width: remSize(18px)
        height: @width

        +below($medium-tablet-2)
            width: remSize(16px)
            height: @width

        & .svg-icon
            fullSize()
            top: remSize(2px)
            transform: rotate(10deg)
            fill: $dark-gray-2

    &__nav
        margin-right: $nav-margin-right
        width: s("calc(100% - (%s + %s + %s + %s))", $logo-margin-right, $logo-width, $nav-margin-right, $lk-width)
        display: flex
        justify-content: flex-end
        box-sizing: border-box
        border-right: remSize(1px) solid $light-gray

        +below($medium-tablet-2)
            width: s("calc(100% - (%s + %s + %s + %s))", $logo-margin-right, $tablet-logo-width, $nav-margin-right, $tablet-lk-width)

        +below($medium-tablet)
            display: none

    &__nav-link
        padding: 0 remSize(20px)
        height: remSize(52px)
        line-height: @height
        font-size: remSize(15px)
        font-weight: 500
        color: $text-color

        +below($small-desktop)
            padding: 0 remSize(12px)
            height: remSize(48px)
            line-height: @height

        +below($medium-tablet-2)
            padding: 0 remSize(8px)
            height: remSize(42px)
            line-height: @height

        &:hover
            color: $white
            background-color: $accent-color

        &.is-active
            color: $white
            background-color: $accent-color
            cursor: default

    &__mobile-menu-btn
        display: none

        //+below($medium-tablet-2)
        +below($medium-tablet)
            position: relative
            display: block
            width: remSize(28px)
            height: @width
            cursor: pointer

            & .svg-icon
                fullSize()
                fill: $dark-gray-2

    &__lk
        width: $lk-width

        +below($medium-tablet-2)
            width: $tablet-lk-width

        +below($medium-tablet-2)
            display: none

    &__lk-item
        margin-bottom: remSize(3px)
        line-height: 0

        &:last-child
            margin-bottom: 0

    &__lk-item-title
        display: inline-block
        line-height: 1
        font-size: remSize(14px)
        color: $accent-color
        cursor: pointer

        &:hover
            text-decoration: underline

    &__user-block
        display: flex
        align-items: center

        +below($medium-tablet-2)
            display: none

    &__user-avatar
        margin-right: remSize(12px)
        position: relative
        width: remSize(32px)
        height: @width
        overflow: hidden

        & .svg-icon
            fullSize()

    &__user-logout
        font-size: remSize(14px)
        font-weight: 500
        color: $accent-color

        &:hover
            text-decoration: underline