$aside-margin-left = remSize(16px)
$aside-width = remSize(280px)
$tablet-aside-width = remSize(240px)

.main
    padding: remSize(4px) 0 remSize(64px)

    +below($large-phone)
        padding-bottom: remSize(32px)

    &--profile
        margin-left: 0
        margin-right: $aside-margin-left

    & .wrapper
        display: flex

    &__content
        width: s("calc(100% - (%s + %s))", $aside-margin-left, $aside-width)

        +below($small-desktop)
            width: s("calc(100% - (%s + %s))", $aside-margin-left, $tablet-aside-width)

        +below($medium-tablet-2)
            width: 100%

    &__aside-wrapper
        margin-left: $aside-margin-left
        width: $aside-width

        +below($small-desktop)
            width: $tablet-aside-width

        +below($medium-tablet-2)
            display: none