.mobile-menu
    margin: remSize(12px) auto 0
    padding: 0 remSize(12px) remSize(42px)
    position: relative
    display: none
    width: s("calc(100% - (%s * 2))", remSize(20px))
    background-color: $white
    box-sizing: border-box
    transition: transform $t-default

    &.is-close
        transform: translateY(-100%)

    &.is-open
        transform: translateY(0)

    &__header
        margin-bottom: remSize(16px)
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        margin-right: $logo-margin-right
        display: flex
        align-items: center
        width: $logo-width
        height: remSize(36px)

        +below($medium-tablet-2)
            width: $tablet-logo-width

        &:hover

            & ^[0]__logo-text
                color: $dark-accent-color

            & ^[0]__logo-icon

                & .svg-icon
                    fill: $dark-accent-color

        &.is-main

            &:hover

                & ^[0]__logo-text
                    color: $dark-gray-2

                & ^[0]__logo-icon

                    & .svg-icon
                        fill: $dark-gray-2

    &__logo-text
        margin-right: remSize(8px)
        line-height: 1
        font-family: $caveat-font
        font-size: remSize(32px)
        color: $dark-gray-2

        +below($medium-tablet-2)
            font-size: remSize(24px)

    &__logo-icon
        position: relative
        width: remSize(18px)
        height: @width

        +below($medium-tablet-2)
            width: remSize(16px)
            height: @width

        & .svg-icon
            fullSize()
            top: remSize(2px)
            transform: rotate(10deg)
            fill: $dark-gray-2

    &__close
        position: relative
        width: remSize(28px)
        height: @width
        cursor: pointer

        &:hover

            & .svg-icon
                fill: $accent-color

        & .svg-icon
            centered()
            width: remSize(18px)
            height: @width
            fill: $dark-gray-2
            transition: fill $t-default

    &__sections
        margin-bottom: remSize(36px)
        text-align: center

    &__sections-title
        margin-bottom: remSize(16px)
        color: $gray

    &__section
        margin-bottom: remSize(12px)
        font-size: remSize(18px)
        font-weight: 500

        &:last-child
            margin-bottom: 0

        & .link
            color: $dark-gray-2

            &:hover
                color: $dark-accent-color

            &.is-active
                padding-bottom: remSize(2px)
                color: $dark-accent-color
                border-bottom: remSize(1px) solid $dark-accent-color

    &__socials
        margin-bottom: remSize(36px)
        text-align: center

    &__socials-title
        margin-bottom: remSize(16px)
        color: $gray

    &__socials-list
        display: flex
        justify-content: center

    &__social
        margin-right: remSize(12px)
        position: relative
        width: remSize(32px)
        height: @width

        +below($medium-phone)
            margin-right: remSize(8px)
            width: remSize(28px)
            height: @width

        &:last-child
            margin-right: 0

        &:hover

            & .svg-icon
                fill: $accent-color

        & .svg-icon
            fullSize()
            fill: $dark-accent-color
            transition: fill $t-default

    &__footer
        display: flex

    &__page
        colWidth(1, 2)
        font-size: remSize(18px)
        font-weight: 500
        color: $dark-accent-color
        text-align: center
        letter-spacing: remSize(0.4px)

        +below($medium-phone)
            font-size: remSize(16px)

        &:hover
            color: $accent-color