.mobile-popular-articles
    display: none

    +below($medium-tablet-2)
        margin-bottom: remSize(16px)
        padding-bottom: remSize(12px)
        display: block
        border-bottom: remSize(2px) solid alpha($accent-color, 0.2)

    &__title
        margin-bottom: remSize(12px)
        font-weight: 400

        & .tablet-text

            +below($large-phone-2)
                display: none

        & .mobile-text
            display: none

            +below($large-phone-2)
                display: inline

    &__list
        margin-left: remSize(-8px)
        display: flex
        width: s("calc(100% + (%s * 2))", remSize(8px))

        +below($large-phone-2)
            margin-left: 0
            width: 100%

        & .preview-popular-article
            margin: 0 remSize(8px)
            colWidth(1, 3, 8px, 8px)

            +below($medium-tablet)
                colWidth(1, 2, 8px, 8px)

                &:last-child
                    display: none

            +below($large-phone-2)
                margin: 0 auto
                width: 100%

                &:nth-child(2)
                    display: none