.preview-articles
    margin-bottom: remSize(56px)

    &__list

        &--category

            & ^[0]__list-item

                & .preview-article

                    +below($small-desktop)
                        colWidth(1, 2, 8px, 8px)

                    +below($medium-tablet-2)
                        colWidth(1, 3, 8px, 8px)

                    +below($medium-tablet)
                        colWidth(1, 2, 8px, 8px)

                    +below($large-phone-2)
                        margin: 0 auto remSize(16px)
                        width: 100%

    &__list-item
        margin-left: remSize(-8px)
        display: flex
        flex-wrap: wrap
        width: s("calc(100% + (%s * 2))", remSize(8px))

        +below($large-phone-2)
            margin-left: 0
            width: 100%

        & .preview-first-article
            margin: 0 remSize(8px) remSize(16px)
            width: 100%

        & .preview-medium-article
            margin: 0 remSize(8px) remSize(16px)
            colWidth(1, 2, 8px, 8px)

        & .preview-article
            margin: 0 remSize(8px) remSize(16px)
            colWidth(1, 3, 8px, 8px)

            +below($medium-tablet-3)
                colWidth(1, 2, 8px, 8px)

            +below($medium-tablet-2)
                colWidth(1, 3, 8px, 8px)

            +below($medium-tablet)
                colWidth(1, 2, 8px, 8px)

            +below($large-phone-2)
                margin: 0 auto remSize(16px)
                width: 100%

    &__next-page-wrapper
        margin-top: remSize(24px)
        display: none
        text-align: center

        &.is-active
            display: block

    &__next-page
        width: remSize(180px)

    &__loader-wrapper
        margin-top: remSize(36px)
        position: relative
        display: none
        height: remSize(60px)

        &.is-active
            display: block

    &__loader
        loader-2($dark-accent-color, $accent-color, alpha($accent-color, 0.6))
        width: remSize(60px)
        height: @width