.random-articles
    margin-left: remSize(-8px)
    display: flex
    width: s("calc(100% + (%s * 2))", remSize(8px))

    +below($large-phone-2)
        margin-left: 0
        width: 100%

    & .preview-article
        margin: 0 remSize(8px)
        colWidth(1, 3, 8px, 8px)

        +below($small-desktop)
            colWidth(1, 2, 8px, 8px)

            &:last-child
                display: none

        +below($medium-tablet-2)
            colWidth(1, 3, 8px, 8px)

            &:last-child
                display: block

        +below($medium-tablet)
            colWidth(1, 2, 8px, 8px)

            &:last-child
                display: none

        +below($large-phone-2)
            margin: 0 auto
            width: 100%

            &:nth-child(2)
                display: none