.subscribe
    position: relative
    padding: remSize(32px) 0 remSize(36px)
    padding-left: remSize(42px)
    border-top: remSize(2px) solid $accent-color
    border-bottom: @border-top

    +below($large-tablet)
        padding: remSize(32px) remSize(42px) remSize(36px)

    +below($medium-tablet-2)
        padding: remSize(32px) remSize(64px) remSize(36px)

    +below($medium-tablet)
        padding: remSize(32px) remSize(42px) remSize(36px)

    +below($large-phone-2)
        padding: remSize(24px) remSize(24px) remSize(32px)

    +below($large-phone)
        padding: remSize(24px) remSize(16px) remSize(32px)

    &__title
        margin-bottom: remSize(32px)
        max-width: 100%
        line-height: 1.4
        font-size: remSize(24px)
        font-weight: 500
        letter-spacing: remSize(0.8px)

        +below($small-desktop)
            font-size: remSize(22px)

        +below($large-tablet)
            letter-spacing: remSize(0.4px)

        +below($medium-tablet-3)
            font-size: remSize(20px)

        +below($medium-tablet-2)
            font-size: remSize(24px)
            letter-spacing: remSize(0.8px)

        +below($medium-tablet)
            font-size: remSize(22px)
            letter-spacing: remSize(0.4px)

        +below($small-tablet)
            margin-bottom: remSize(24px)
            width: remSize(360px)

        +below($large-phone-2)
            margin-bottom: remSize(16px)
            line-height: 1.2
            font-size: remSize(20px)

        +below($medium-phone)
            letter-spacing: 0

    &__form
        display: flex

        +below($large-phone)
            flex-wrap: wrap

    &__form-input-item

        +below($large-phone)
            margin-bottom: remSize(12px)
            width: 100%

    &__form-input-wrapper
        position: relative

        &.is-focused

            & ^[0]__form-input
                border-color: $accent-color

            & ^[0]__form-input-title
                color: $accent-color
                transform: translate(-12px, -38px)
                cursor: default

    &__form-input
        margin-right: remSize(12px)
        width: remSize(280px)
        height: remSize(32px)

        +below($large-phone)
            margin-right: 0

        +below($large-phone-3)
            width: remSize(240px)

        +below($large-phone-2)
            width: remSize(200px)

        +below($large-phone)
            width: 84%

        +below($medium-phone)
            width: 92%

        +below($small-phone)
            width: 100%

    &__form-input-title
        centered("left")
        left: remSize(16px)
        font-size: remSize(14px)
        color: $gray
        transition: color $t-default, transform $t-default
        cursor: text

    &__form-submit
        width: remSize(136px)

    &__icon
        position: absolute
        top: 50%
        right: remSize(42px)
        width: remSize(72px)
        height: @width
        transform: translateY(-50%) rotate(20deg)

        +below($small-desktop)
            top: 60%
            width: remSize(56px)
            height: @width

        +below($medium-tablet-3)
            right: remSize(16px)

        +below($medium-tablet-2)
            right: remSize(42px)

        +below($small-tablet)
            top: 36%

        +below($large-phone-2)
            top: 30%
            right: remSize(16px)
            width: remSize(42px)
            height: @width

        +below($large-phone)
            top: 80%

        & .svg-icon
            fullSize()
            fill: alpha($dark-accent-color, 0.5)