.text-page
    padding: remSize(48px) remSize(64px) remSize(72px)

    +below($small-desktop)
        padding: remSize(32px) remSize(42px) remSize(56px)

    +below($medium-tablet-2)
        padding: remSize(48px) remSize(64px) remSize(72px)

    +below($medium-tablet)
        padding: remSize(32px) remSize(42px) remSize(56px)

    +below($large-phone-2)
        padding: remSize(28px) remSize(24px) remSize(42px)

    +below($large-phone)
        padding: remSize(18px) remSize(16px) remSize(28px)

    &__title
        margin-bottom: remSize(24px)
        padding-bottom: remSize(12px)

    &__title-text
        position: relative

        &:after
            content: ""
            position: absolute
            left: 0
            bottom: remSize(-12px)
            width: 50%
            height: remSize(2px)
            background-color: $accent-color