// Стили дефолтной обертки, которая используется в шаблоне

.wrapper
    margin: 0 auto
    padding: 0 $site-paddings
    position: relative
    min-width: $small-phone
    max-width: remSize(1200px)
    width: 100%
    box-sizing: border-box

    +below($small-desktop)
        padding: 0 remSize(20px)
        max-width: remSize(980px)