<template>
    <div class="index">
        <preload :hide="!!data"></preload>
        <div class="wrapper">
            <notifications></notifications>
            <online-users></online-users>
            <site-statistics></site-statistics>
            <simple-cms-news></simple-cms-news>
        </div>
    </div>
</template>

<script>

    import {mapState} from "vuex";

    import preload from "../blocks/preload";
    import notifications from "../blocks/notifications";
    import onlineUsers from "../blocks/online-users";
    import siteStatistics from "../blocks/site-statistics";
    import simpleCmsNews from "../blocks/simple-cms-news";

    export default {
        name: "index",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.index.meta")
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("endpoints", {
                endpoint: state => state.index
            }),
            ...mapState("user", {
                lastAction: state => state.actions.last
            })
        },
        metaInfo() {
            return this.metaInfo
        },
        beforeMount() {

            this.$root.getEndpointData({
                server: {
                    method: this.endpoint.method,
                    url: this.endpoint.url,
                    data: {action: JSON.stringify(this.lastAction)}
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            setData() {

            }
        },
        components: {
            preload,
            notifications,
            onlineUsers,
            siteStatistics,
            simpleCmsNews
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.index.meta");
            }
        }
    };

</script>