<template>
    <div class="login">
        <preload :hide="!!data"></preload>
        <div class="login__block box" v-if="data">
            <a class="login__site-info" :href="siteUrl" target="_blank">
                <span class="login__site-logo-wrapper">
                    <img class="login__site-logo" src="/simple_cms/images/site-logo.png" :alt="siteUrl | cleanSiteUrl">
                </span>
                <span class="login__site-url">{{ siteUrl | cleanSiteUrl }}</span>
            </a>
            <div class="login__forms">
                <transition name="fade">
                    <keep-alive>
                        <login-form v-if="currentForm === 'login'"></login-form>
                        <!--<password-recovery-form v-else-if="form === 'recovery'"></password-recovery-form>-->
                    </keep-alive>
                </transition>
            </div>
            <div class="login__change-form">
                <transition name="slide" mode="out-in">
                    <p class="login__change-form-text"
                       v-if="currentForm === 'login'"
                       :key="'login'"
                       v-text="$ml.get('pages.login.links.recovery')"
                       @click="currentForm = 'recovery'"
                    ></p>
                    <p class="login__change-form-text"
                       v-else-if="currentForm === 'recovery'"
                       :key="'recovery'"
                       v-text="$ml.get('pages.login.links.login')"
                       @click="currentForm = 'login'"
                    ></p>
                </transition>
            </div>
            <div class="login__cms-info-block">
                <a class="login__cms-site" href="#" target="_blank"></a>
                <div class="login__cms-info">
                    <nav class="login__cms-nav">

                        <a class="login__cms-nav-link"
                           href="#"
                           target="_blank"
                           v-text="$ml.get('pages.login.links.faq')"
                        ></a>

                        <a class="login__cms-nav-link"
                           href="#"
                           target="_blank"
                           v-text="$ml.get('pages.login.links.instruction')"
                        ></a>

                        <a class="login__cms-nav-link"
                           href="#"
                           target="_blank"
                           v-text="$ml.get('pages.login.links.support')"
                        ></a>

                    </nav>
                    <p class="login__cms-version">
                        <span class="login__cms-version-title">ver. </span>
                        <a class="login__cms-version-link" href="#">{{ cmsInfo.version }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {mapState, mapActions} from "vuex";
    import {checkType} from "../../../General/js/general/check-type";

    import preload from "../blocks/preload";
    import loginForm from "../forms/login-form";

    export default {
        name: "login",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.login.meta"),
                currentForm: "login"
            }
        },
        computed: {
            ...mapState("user", {
                login: state => state.login
            }),
            ...mapState("cms", {
                cmsInfo: state => state,
                cmsLang: state => state.lang
            }),
            ...mapState("site", {
                siteUrl: state => state.url
            }),
            ...mapState("endpoints", {
                endpoint: state => state.login
            })
        },
        filters: {
            cleanSiteUrl(url) {

                if (!checkType(url, "string")) {
                    if (DEV) console.error("Invalid variable type ($url). Type required 'string'. Type received '%s'.", typeof url);
                    return url;
                }

                return url.replace("https://", "").replace("http://", "");

            }
        },
        metaInfo() {
            return this.metaInfo
        },
        beforeMount() {

            this.$root.getEndpointData({
                server: {
                    method: this.endpoint.method,
                    url: this.endpoint.url
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            ...mapActions("cms", {
                setCmsData: "setData"
            }),
            ...mapActions("site", {
                setSiteData: "setData"
            }),
            setData(data) {

                if (!checkType(data, "object") || !checkType(data.data, "object")) {
                    if (DEV) console.error("Invalid variable type ($data or $data.data). Type required $data = 'object', $data.data = 'object'. Type received $data = '%s', $data.data = '%s'.", typeof data, typeof data.data);
                    return false;
                }

                data = data.data;

                if (data.redirect) {
                    this.$root.redirectToPage(this.$router, data.redirect);
                } else {

                    this.setCmsData({
                        data: data.cms,
                        storage: this.$storage
                    });
                    this.setSiteData({
                        data: data.site,
                        storage: this.$storage
                    });
                    this.data = true;

                    if (checkType(data.cms.lang, "string") && data.cms.lang !== this.$ml.current) {
                        this.$ml.change(data.cms.lang);
                    }

                }

            }
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.login.meta");
            }
        },
        components: {
            preload,
            loginForm
        }
    };

</script>