<template>
    <div class="logout">
        <preload :hide="false"></preload>
    </div>
</template>

<script>

    import axios from "axios";
    import {mapState} from "vuex";

    import {serialize} from "../../../General/js/general/serialize";

    import preload from "../blocks/preload";

    export default {
        name: "logout",
        data() {
            return {
                metaInfo: this.$ml.get("pages.logout.meta")
            };
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("api", {
                logoutRequest: state => state.user.logout,
                backendLogoutRequest: state => state.user.backendLogout
            })
        },
        metaInfo() {
            return this.metaInfo
        },
        beforeMount() {

            let vue = this;

            axios({
                method: this.logoutRequest.method,
                url: this.logoutRequest.url,
                data: serialize(this.logoutRequest.method, {
                    action: JSON.stringify({
                        code: 0,
                        event: "logout",
                        time: new Date().toString()
                    })
                })
            })
                .then(response => {

                    let requestData = response.data;

                    if (!requestData.success) {
                        return false;
                    }

                    vue.logout();

                })
                .catch(error => {

                });

        },
        methods: {
            logout() {

                this.$storage.clear();
                window.location = this.backendLogoutRequest;

            }
        },
        components: {
            preload
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.logout.meta");
            }
        }
    };

</script>