<template>
    <v-form :name="name"
            :hide-preload="preload"
    >
        <template slot="inputs">

            <form-input v-for="(input, key) of inputs"
                        :key="key"
                        :name="key"
                        :title="$ml.get(input.title)"
                        :type="input.type"
                        :data="input"
            ></form-input>

        </template>
        <template slot="content">

        </template>
    </v-form>
</template>

<script>

    import {createInputData} from "../../js/modules/create-input-data";

    import vForm from "../mixins/v-form";
    import formInput from "../elements/form-input";

    export default {
        name: "category-form",
        data() {
            return {
                name: "category",
                preload: false,
                inputs: {
                    name: createInputData({
                        type: "text",
                        title: "forms.category.titles.name"
                    }),
                    serverName: createInputData({
                        type: "text",
                        title: "forms.category.titles.serverName"
                    }),
                    description: createInputData({
                        type: "textarea",
                        title: "forms.category.titles.description",
                        params: {
                            notValid: true
                        }
                    }),
                    index: createInputData({
                        type: "number",
                        title: "forms.category.titles.index"
                    })
                }
            }
        },
        components: {
            vForm,
            formInput
        }
    }

</script>