<template>
    <v-form :name="name"
            :title="title"
            :description="description"
            :hide-preload="hidePreload"
    >
        <template slot="inputs">
            <form-input v-for="(input, key) in inputs"
                        :key="key"
                        :name="key"
                        :title="$root.checkMl(input.title) ? $ml.get(input.title) : input.title"
                        :type="input.type"
                        :data="input"
            ></form-input>
        </template>
    </v-form>
</template>

<script>

    import {checkType} from "../../../General/js/general/check-type";

    import vForm from "../mixins/v-form";
    import formInput from "../elements/form-input";

    export default {
        name: "default-settings-form",
        props: {
            title: String,
            description: String,
            hidePreload: {
                type: Boolean,
                required: true
            },
            inputs: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                name: "default-form"
            }
        },
        components: {
            vForm,
            formInput
        }
    };

</script>