<template>
    <v-form :name="name"
            :hide-preload="preload"
    >
        <template slot="inputs">

            <form-input v-for="(input, key) of inputs"
                        v-if="input && (key !== 'pagesItems' && key !== 'otherItems')"
                        :key="key"
                        :name="key"
                        :title="$ml.get(input.title)"
                        :type="input.type"
                        :data="input"
            >
            </form-input>

            <div>
                <form-input v-for="(input, key) of inputs"
                            v-if="input && (key === 'pagesItems' || key === 'otherItems')"
                            :key="key"
                            :name="key"
                            :title="$ml.get(input.title)"
                            :type="input.type"
                            :data="input"
                >
                </form-input>
            </div>

        </template>
        <template slot="content">
            <button @click="save" v-text="$ml.get('forms.editableField.btns.save')"></button>
        </template>
    </v-form>
</template>

<script>

    import axios from "axios";

    import {checkType} from "../../../General/js/general/check-type";
    import {createInputData} from "../../js/modules/create-input-data";
    import {mapState} from "vuex";
    import {serialize} from "../../../General/js/general/serialize";

    import vForm from "../mixins/v-form";
    import formInput from "../elements/form-input";

    export default {
        name: "editable-filed-form",
        props: {
            types: {
                type: Array,
                required: true
            },
            items: {
                type: Object,
                required: true
            },
            incomingInputs: Object
        },
        data() {
            return {
                name: "editable-field",
                preload: false,
                inputs: {
                    name: createInputData({
                        value: this.checkIncomingValue("name") ? this.incomingInputs.name : null,
                        type: "text",
                        title: "forms.editableField.titles.name"
                    }),
                    serverName: createInputData({
                        value: this.checkIncomingValue("serverName") ? this.incomingInputs.serverName : null,
                        type: "text",
                        title: "forms.editableField.titles.serverName"
                    }),
                    description: createInputData({
                        value: this.checkIncomingValue("description") ? this.incomingInputs.description : null,
                        type: "textarea",
                        title: "forms.editableField.titles.description",
                        params: {
                            notValid: true
                        }
                    }),
                    index: createInputData({
                        value: this.checkIncomingValue("index") ? this.incomingInputs.index : 0,
                        type: "number",
                        title: "forms.editableField.titles.index"
                    }),
                    type: createInputData({
                        value: this.checkIncomingValue("type") ? this.incomingInputs.type : this.types[0].id,
                        type: "select",
                        title: "forms.editableField.titles.type",
                        selectList: this.types
                    }),
                    defaultValue: null,
                    pagesItems: createInputData({
                        value: this.checkIncomingValue("pagesItems") ? this.incomingInputs.pagesItems : [],
                        valueForServer: () => {

                            let $this = this.inputs.pagesItems;
                            let copyCheckboxes = [];

                            for (let checkbox of $this.params.checkboxes) {
                                copyCheckboxes.push(Object.assign({}, checkbox));
                            }

                            for (let checkbox of copyCheckboxes) {
                                checkbox.checked = $this.value.indexOf(checkbox.id) !== -1;
                            }

                            return copyCheckboxes;

                        },
                        type: "checkbox",
                        title: "forms.editableField.titles.pagesItems",
                        params: {
                            notValid: true,
                            checkboxes: this.items.pages
                        }
                    }),
                    otherItems: createInputData({
                        value: this.checkIncomingValue("otherItems") ? this.incomingInputs.otherItems : [],
                        valueForServer: () => {

                            let $this = this.inputs.otherItems;
                            let copyCheckboxes = [];

                            for (let checkbox of $this.params.checkboxes) {
                                copyCheckboxes.push(Object.assign({}, checkbox));
                            }

                            for (let checkbox of copyCheckboxes) {
                                checkbox.name = checkbox.id;
                                checkbox.checked = $this.value.indexOf(checkbox.id) !== -1;
                            }

                            return copyCheckboxes;

                        },
                        type: "checkbox",
                        title: "forms.editableField.titles.otherItems",
                        params: {
                            checkboxes: this.setOtherItemsText(this.items.other)
                        }
                    })
                }
            }
        },
        computed: {
            ...mapState("api", {
                newRequest: state => state.editableField.new,
                request: state => state.editableField.default
                // saveRequest: state => state.e
            })
        },
        methods: {
            checkIncomingValue(name) {

                if (!checkType(name, "string")) {
                    if (DEV) console.error();
                    return false;
                }

                return this.incomingInputs && this.incomingInputs[name];

            },
            setOtherItemsText(items) {

                if (!checkType(items, "array")) {
                    if (DEV) console.error();
                    return false;
                }

                for (let item of items) {
                    item.name = "customInputs.editableFieldApplyItem." + item.name;
                }

                return items;

            },
            save() {

                let vue = this;
                let checkForm = this.$root.checkForm(this.inputs);

                if (!checkForm.status) {
                    return false;
                }

                this.preload = true;

                axios({
                    method: this.request.method,
                    url: this.incomingInputs ? this.request.url + this.incomingInputs.id : this.newRequest.url,
                    data: serialize(this.request.method, {
                        name: this.inputs.name.value,
                        serverName: this.inputs.serverName.value,
                        description: this.inputs.description.value,
                        index: this.inputs.index.value,
                        type: this.inputs.type.value,
                        pagesItems: JSON.stringify(this.inputs.pagesItems.valueForServer()),
                        otherItems: JSON.stringify(this.inputs.otherItems.valueForServer()),
                        action: JSON.stringify({
                            code: 0,
                            event: this.incomingInputs ? "updateEditableField" : "createNewEditableField",
                            time: new Date().toString()
                        })
                    }),
                    headers: {"Content-Type": "application/x-www-form-urlencoded"}
                })
                    .then(response => {

                        let requestData = response.data;

                    })
                    .catch(error => {

                    })
                    .finally(() => {
                        vue.preload = false;
                    });

            }
        },
        components: {
            vForm,
            formInput
        }
    }

</script>