<template>
    <v-form :name="name"
            :title="$ml.get('forms.login.titles.title')"
            :hide-preload="preload"
    >
        <template slot="inputs">
            <form-input v-for="(input, key) in inputs"
                        :key="key"
                        :name="key"
                        :title="$ml.get(input.title)"
                        :type="input.type"
                        :data="input"
                        :submit-func="login"
            ></form-input>
        </template>
        <template slot="content">
            <div class="form__submit-wrapper">
                <button class="form__submit btn btn--full-size"
                        v-text="$ml.get('forms.login.btns.entry')"
                        @click="login"
                ></button>
            </div>
        </template>
    </v-form>
</template>

<script>

    import axios from "axios";
    import {mapState, mapActions} from "vuex";

    import {createInputData} from "../../js/modules/create-input-data";
    import {serialize} from "../../../General/js/general/serialize";

    import vForm from "../mixins/v-form";
    import formInput from "../elements/form-input";

    let mlInputsErrorsPath = "forms.login.errors.inputs.";

    export default {
        name: "login-form",
        data() {
            return {
                name: "login",
                preload: false,
                inputs: {
                    login: createInputData({
                        type: "text",
                        title: "forms.login.titles.inputs.login",
                        texts: {
                            empty: mlInputsErrorsPath + "login.empty",
                            min: mlInputsErrorsPath + "login.min",
                            regExp: mlInputsErrorsPath + "login.regExp",
                            wrong: mlInputsErrorsPath + "login.wrong",
                            blocked: mlInputsErrorsPath + "login.blocked"
                        },
                        length: {
                            min: 3
                        },
                        regExp: {
                            pattern: "[^а-яёА-ЯЁ]",
                            flags: "i"
                        }
                    }),
                    password: createInputData({
                        type: "password",
                        title: "forms.login.titles.inputs.password",
                        texts: {
                            empty: mlInputsErrorsPath + "password.empty",
                            min: mlInputsErrorsPath + "password.min",
                            wrong: mlInputsErrorsPath + "password.wrong"
                        },
                        length: {
                            min: 6
                        }
                    })
                }
            }
        },
        computed: {
            ...mapState("api", {
                request: state => state.user.login
            })
        },
        methods: {
            ...mapActions("user", {
                userLogin: "login",
                userAddAction: "addAction"
            }),
            login() {

                let vue = this;
                let checkForm = this.$root.checkForm(this.inputs);

                if (!checkForm.status) {
                    return false;
                }

                this.preload = true;

                axios({
                    method: this.request.method,
                    url: this.request.url,
                    data: serialize(this.request.method, {
                        login: this.inputs.login.value,
                        password: this.inputs.password.value,
                        action: JSON.stringify({
                            code: 0,
                            event: "login",
                            time: new Date().toString()
                        })
                    }),
                    headers: {"Content-Type": "application/x-www-form-urlencoded"}
                })
                    .then(response => {

                        let requestData = response.data;

                        if (requestData.success && requestData.logged) {

                            vue.userLogin({
                                data: requestData.data.user,
                                storage: vue.$storage
                            });
                            vue.$router.push({name: "index"});

                        } else if (requestData.errors) {

                            let inputsName = Object.keys(vue.inputs);

                            for (let i in requestData.errors) {
                                if (inputsName.indexOf(i) !== -1) {
                                    vue.$root.setInputError(i, vue.inputs[i], requestData.errors[i]);
                                } else {

                                }
                            }

                        }

                    })
                    .catch(error => {

                    })
                    .finally(() => {
                        vue.preload = false;
                    });

            }
        },
        components: {
            vForm,
            formInput
        }
    };

</script>