<template>
    <v-form :name="name"
            :hide-preload="preload"
    >

        <template slot="inputs">
            <form-input-without-wysiwyg v-for="(input, key) of data.inputs"
                        :key="key"
                        :name="key"
                        :title="$root.checkMl(input.title) ? $ml.get(input.title) : input.title"
                        :type="input.type"
                        :data="input"
            >
            </form-input-without-wysiwyg>
        </template>

        <template slot="content">
            <button @click="create">apply</button>
        </template>

    </v-form>
</template>

<script>

    import axios from "axios";

    import {mapState} from "vuex";
    import {setInputsToDate} from "../../js/modules/set-inputs-to-date";
    import {setFileInputsToDate} from "../../js/modules/set-file-inputs-to-date";

    import vForm from "../mixins/v-form";
    import formInputWithoutWysiwyg from "../elements/form-input-without-wysiwyg";
    import {checkType} from "../../../General/js/general/check-type";

    export default {
        name: "snippet-form",
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                name: "snippet-form",
                preload: false
            }
        },
        computed: {
            ...mapState("api", {
                newSnippetRequest: state => state.snippet.new
            })
        },
        methods: {
            setSnippetContent(content) {

                if (!checkType(content, "string")) {
                    if (DEV) console.error();
                    return false;
                }

                let selection = window.getSelection();
                let div = document.createElement("div");
                let elem = selection.extentNode;
                let snippet = null;

                // TODO добавить запись класса js-snippet и data-snippet-id
                div.innerHTML = content;
                snippet = div.childNodes[0];
                elem.parentNode.replaceChild(snippet, elem);

            },
            create() {

                let vue = this;
                let checkInputs = this.$root.checkForm(this.data.inputs);

                if (!checkInputs.status) {
                    return false;
                }

                let data = new FormData();

                data.append("templateId", this.data.id);
                data.append("structure", JSON.stringify(setInputsToDate(this.data.inputs)));
                setFileInputsToDate(this.data.inputs, data);

                // TODO прокинуть запись контента при создании сниппета

                axios({
                    method: this.newSnippetRequest.method,
                    url: this.newSnippetRequest.url,
                    data: data,
                    headers: {"Content-Type": "multipart/form-data"}
                })
                    .then(response => {

                        let requestData = response.data;

                        if (!requestData.success) {

                        }

                        vue.setSnippetContent(requestData.data.content);

                    })
                    .catch(error => {

                    });

                // let selection = window.getSelection();
                // let elem = selection.extentNode;

            }
        },
        components: {
            vForm,
            formInputWithoutWysiwyg
        }
    }

</script>