<!DOCTYPE html>
<html lang="{{ global_data.data.siteLang }}">

{% include 'app/site/general/head.html.twig' %}

<body>

<div class="page-wrapper">
    <div class="page-content">

        {% include 'app/site/general/header.html.twig' %}

        <div class="header-indent"></div>

        <main class="main main--profile">
            <div class="wrapper">

                <div class="main__aside-wrapper">
                    {% include 'app/site/blocks/admin-aside.html.twig' %}
                </div>

                <div class="main__content">
                    {% block content %}{% endblock %}
                </div>

            </div>

        </main>
    </div>

    {% include 'app/site/general/footer.html.twig' %}
    {% include 'app/site/elements/to-top.html.twig' %}

</div>

{% block prepend_javascripts %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block append_javascripts %}{% endblock %}

</body>
</html>