{% htmlcompress %}
<!DOCTYPE html>
<html lang="{{ global_data.data.siteLang }}">

{% include 'app/site/general/head.html.twig' %}

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGVRNP7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="page-wrapper">
        <div class="page-content">

            {% include 'app/site/general/header.html.twig' %}

            <div class="header-indent"></div>

            <main class="main">
                <div class="wrapper">

                    <div class="main__content js-slide-sidebar-content">

                        {% include 'app/site/blocks/mobile-popular-articles.html.twig' %}

                        {% block content %}{% endblock %}

{#                        {% include 'app/site/blocks/subscribe.html.twig' %}#}

                    </div>
                    <div class="main__aside-wrapper js-slide-sidebar-wrapper">
                        {% include 'app/site/blocks/aside.html.twig' %}
                    </div>

                </div>
            </main>
        </div>

        {% include 'app/site/general/footer.html.twig' %}
        {% include 'app/site/elements/to-top.html.twig' %}

        <div class="js-mobile-menu-wrapper">
            {% include 'app/site/blocks/mobile-menu.html.twig' %}
        </div>

        <div class="js-popups-wrapper">
            {% include 'app/site/blocks/default-popups.html.twig' %}
            {% block popups %}{% endblock %}
        </div>

    </div>

    {% block prepend_javascripts %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('app/build/runtime.js') }}"></script>
        <script src="{{ asset('app/build/common_js.js') }}"></script>
    {% endblock %}
    {% block append_javascripts %}{% endblock %}

</body>
</html>
{% endhtmlcompress %}