<template>
    <div class="collection" v-if="collection">
        <div class="collection__items">
            <new-collection-item-card></new-collection-item-card>
        </div>
    </div>
</template>

<script>

    import {mapState} from "vuex";
    import {checkType} from "../../../../../../General/js/general/check-type";
    import {destructuring} from "../../../../../../General/js/general/destructuring";

    import preload from "../../../../blocks/preload";
    import newCollectionItemCard from "../../../../elements/new-collection-item-card";

    export default {
        name: "collection",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.collection.meta"),
                collectionId: this.$route.params.id
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("endpoints", {
                endpoint: state => state.collection
            }),
            ...mapState("user", {
                lastAction: state => state.actions.last
            }),
            ...mapState("simpleManager", {
                collection: state => state.collections.current
            })
        },
        metaInfo() {
            return this.metaInfo;
        },
        beforeMount() {

            this.$root.getEndpointData({
                server: {
                    method: this.endpoint.method,
                    url: this.endpoint.url,
                    data: {
                        action: JSON.stringify(this.lastAction),
                        id: this.collectionId
                    }
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            setData(data) {

                if (!checkType(data, "object") || !checkType(data.data, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                data = data.data;

                let {collection} = destructuring(data);

                this.$store.commit("simpleManager/currentCollection", collection);

                if (checkType(collection.name, "string")) {
                    this.metaInfo.title = this.metaInfo.title + " - " + collection.name;
                    this.metaInfo = Object.assign({}, this.metaInfo);
                }

            }
        },
        components: {
            preload,
            newCollectionItemCard
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.collection.meta");
            }
        }
    }

</script>