<template>
    <div class="collections">
        <div class="collections__list" v-if="collections">
            <collection-card v-for="collection of $root.orderIndex(collections)"
                             :key="collection.id"
                             :data="collection"
            ></collection-card>
        </div>
    </div>
</template>

<script>

    import {mapState} from "vuex";
    import {checkType} from "../../../../../../General/js/general/check-type";
    import {destructuring} from "../../../../../../General/js/general/destructuring";

    import preload from "../../../../blocks/preload";
    import collectionCard from "../../../../elements/collection-card";

    export default {
        name: "collections",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.collections.meta")
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("endpoints", {
                endpoint: state => state.collections
            }),
            ...mapState("user", {
                lastAction: state => state.actions.last
            }),
            ...mapState("simpleManager", {
                collections: state => state.collections.list
            })
        },
        metaInfo() {
            return this.metaInfo;
        },
        beforeMount() {

            this.$root.getEndpointData({
                server: {
                    method: this.endpoint.method,
                    url: this.endpoint.url,
                    data: {action: JSON.stringify(this.lastAction)}
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            setData(data) {

                if (!checkType(data, "object") || !checkType(data.data, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                data = data.data;

                let {collections} = destructuring(data);

                this.$store.commit("simpleManager/collectionsList", collections);

            }
        },
        components: {
            preload,
            collectionCard
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.collections.meta");
            }
        }
    }

</script>