<template>
    <div class="collection-item" v-if="inputs">
        <h1></h1>
        <div v-if="inputs.general && inputs.seo">
            <div>
                <p :class="{'is-active': selectTab === 'general'}"
                   @click="selectTab = 'general'"
                   v-text="$ml.get('pages.collectionItem.tabs.general')"
                ></p>
                <p :class="{'is-active': selectTab === 'seo'}"
                   @click="selectTab = 'seo'"
                   v-text="$ml.get('pages.collectionItem.tabs.seo')"
                ></p>
            </div>
            <div>
                <default-settings-form v-show="selectTab === 'general'"
                                       :hide-preload="true"
                                       :inputs="inputs.general"
                ></default-settings-form>
                <default-settings-form v-show="selectTab === 'general'"
                                       :hide-preload="true"
                                       :inputs="inputs.other"
                ></default-settings-form>
                <default-settings-form v-show="selectTab === 'seo'"
                                       :hide-preload="true"
                                       :inputs="inputs.seo"
                ></default-settings-form>
            </div>
        </div>
        <div v-else>

        </div>
        <button @click="save">Save</button>
    </div>
</template>

<script>

    import axios from "axios";

    import {mapState} from "vuex";
    import {checkType} from "../../../../../../General/js/general/check-type";
    import {destructuring} from "../../../../../../General/js/general/destructuring";
    import {serialize} from "../../../../../../General/js/general/serialize";
    import {setInputsToDate} from "../../../../../js/modules/set-inputs-to-date";

    import preload from "../../../../blocks/preload";
    import defaultSettingsForm from "../../../../forms/default-settings-form";
    import {setFileInputsToDate} from "../../../../../js/modules/set-file-inputs-to-date";
    import {checkContentField} from "../../../../../js/modules/check-content-field";

    export default {
        name: "collectionItem",
        data() {
            return {
                data: null,
                metaInfo: this.$route.params.itemId ? this.$ml.get("pages.collectionItem.meta") : this.$ml.get("pages.newCollectionItem.meta"),
                item: {
                    id: this.$route.params.itemId ? this.$route.params.itemId : "new",
                    type: this.$route.params.type,
                    collectionId: this.$route.params.collectionId
                },
                inputs: null,
                selectTab: null,
                checkNew: !this.$route.params.itemId
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("endpoints", {
                defaultEndpoint: state => state.collectionItem,
                newItemEndpoint: state => state.newCollectionItem
            }),
            ...mapState("api", {
                defaultRequest: state => state.collectionItem.default,
                newItemRequest: state => state.collectionItem.new
            }),
            ...mapState("user", {
                lastAction: state => state.actions.last
            })
        },
        metaInfo() {
            return this.metaInfo;
        },
        beforeMount() {

            let endpoint = this.checkNew ? this.newItemEndpoint : this.defaultEndpoint;

            this.$root.getEndpointData({
                server: {
                    method: endpoint.method,
                    url: endpoint.url,
                    data: {
                        action: JSON.stringify(this.lastAction),
                        item: JSON.stringify({
                            id: this.checkNew ? null : this.item.id,
                            type: this.item.type,
                            collectionId: this.item.collectionId
                        })
                    }
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            setData(data) {

                if (!checkType(data, "object") || !checkType(data.data, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                let {structure} = destructuring(data.data);

                if (checkType(structure, "object")) {
                    this.inputs = this.$root.generateInputsByStructure(structure, "collectionItem", this.item.type);
                    this.selectTab = (this.inputs.general && this.inputs.seo) ? 'general' : null;
                }

                if (checkContentField(this.inputs)) this.$root.getSnippetsData();

            },
            save() {

                let checkForm = this.$root.checkForm;
                let isSimpleForm = !(this.inputs.general && this.inputs.seo);
                let checkInputs = isSimpleForm ? checkForm(this.inputs) : [checkForm(this.inputs.general), checkForm(this.inputs.seo)];

                if (checkType(checkInputs, "array")) {

                    let check = true;

                    for (let form of checkInputs) {
                        if (!form.status) check = false;
                    }

                    if (!check) {
                        return false;
                    }

                } else if (!checkInputs) {
                    return false;
                }

                let data = new FormData();

                data.append("item", JSON.stringify({
                    type: this.item.type,
                    collectionId: this.item.collectionId
                }));

                if (isSimpleForm) {

                } else {

                    data.append("general", JSON.stringify(setInputsToDate(this.inputs.general)));
                    data.append("seo", JSON.stringify(setInputsToDate(this.inputs.seo)));
                    data.append("other", JSON.stringify(setInputsToDate(this.inputs.other, true)));
                    setFileInputsToDate(this.inputs.other, data);

                }

                let request = this.checkNew ? this.newItemRequest : this.defaultRequest;

                axios({
                    method: request.method,
                    url: this.checkNew ? request.url : request.url + this.item.id,
                    data: data,
                    headers: {"Content-Type": "multipart/form-data"}
                })
                    .then(response => {

                        let requestData = response.data;

                    })
                    .catch(error => {

                    })
                    .finally(() => {

                    });

            }
        },
        components: {
            preload,
            defaultSettingsForm
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.checkNew ? this.$ml.get("pages.newCollectionItem.meta") : this.$ml.get("pages.collectionItem.meta");
            }
        }
    }

</script>