<template>
    <div class="collection-item" v-if="inputs">
        <h1></h1>
        <div v-if="inputs.general && inputs.seo">
            <div>
                <p :class="{'is-active': selectTab === 'general'}"
                   @click="selectTab = 'general'"
                   v-text="$ml.get('pages.collectionItem.tabs.general')"
                ></p>
                <p :class="{'is-active': selectTab === 'seo'}"
                   @click="selectTab = 'seo'"
                   v-text="$ml.get('pages.collectionItem.tabs.seo')"
                ></p>
            </div>
            <div>
                <default-settings-form v-show="selectTab === 'general'"
                                       :hide-preload="true"
                                       :inputs="inputs.general"
                ></default-settings-form>
                <default-settings-form v-show="selectTab === 'general'"
                                       :hide-preload="true"
                                       :inputs="inputs.other"
                ></default-settings-form>
                <default-settings-form v-show="selectTab === 'seo'"
                                       :hide-preload="true"
                                       :inputs="inputs.seo"
                ></default-settings-form>
            </div>
        </div>
        <div v-else>

        </div>
        <button @click="save">Save</button>
    </div>
</template>

<script>

    import axios from "axios";

    import {mapState} from "vuex";
    import {checkType} from "../../../../../../General/js/general/check-type";
    import {destructuring} from "../../../../../../General/js/general/destructuring";
    import {serialize} from "../../../../../../General/js/general/serialize";
    import {setInputsToDate} from "../../../../../js/modules/set-inputs-to-date";

    import preload from "../../../../blocks/preload";
    import defaultSettingsForm from "../../../../forms/default-settings-form";

    export default {
        name: "newCollectionItem",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.newCollectionItem.meta"),
                collectionId: this.$route.params.collectionId,
                collectionItemType: this.$route.params.type,
                inputs: null,
                selectTab: null
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("endpoints", {
                endpoint: state => state.newCollectionItem
            }),
            ...mapState("api", {
                request: state => state.collectionItem.new
            }),
            ...mapState("user", {
                lastAction: state => state.actions.last
            })
        },
        metaInfo() {
            return this.metaInfo;
        },
        beforeMount() {

            this.$root.getEndpointData({
                server: {
                    method: this.endpoint.method,
                    url: this.endpoint.url,
                    data: {
                        action: JSON.stringify(this.lastAction),
                        collectionId: this.collectionId,
                        collectionItemType: this.collectionItemType
                    }
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            setData(data) {

                if (!checkType(data, "object") || !checkType(data.data, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                let {structure} = destructuring(data.data);

                if (checkType(structure, "object")) {
                    this.inputs = this.$root.generateInputsByStructure(structure, "collectionItem", this.collectionItemType);
                    this.selectTab = (this.inputs.general && this.inputs.seo) ? 'general' : null;
                }

            },
            checkTabs() {
                // console.log(this.structure);
            },
            save() {

                let checkForm = this.$root.checkForm;
                let isSimpleForm = !(this.inputs.general && this.inputs.seo);
                let checkInputs = isSimpleForm ? checkForm(this.inputs) : [checkForm(this.inputs.general), checkForm(this.inputs.seo)];

                if (checkType(checkInputs, "array")) {

                    let check = true;

                    for (let form of checkInputs) {
                        if (!form.status) check = false;
                    }

                    if (!check) {
                        return false;
                    }

                } else if (!checkInputs) {
                    return false;
                }

                let data = {
                    collectionId: this.$route.params.collectionId,
                    collectionItemType: this.$route.params.type
                };

                if (isSimpleForm) {

                } else {

                    data.general = JSON.stringify(setInputsToDate(this.inputs.general));
                    data.seo = JSON.stringify(setInputsToDate(this.inputs.seo));
                    data.other = JSON.stringify(setInputsToDate(this.inputs.other));

                }

                axios({
                    method: this.request.method,
                    url: this.request.url,
                    data: serialize(this.request.method, data),
                    headers: {"Content-Type": "application/x-www-form-urlencoded"}
                })
                    .then(response => {

                        let requestData = response.data;

                    })
                    .catch(error => {

                    })
                    .finally(() => {

                    });

            }
        },
        components: {
            preload,
            defaultSettingsForm
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.newCollectionItem.meta");
            }
        }
    }

</script>