// Roboto

@font-face
    font-family: "Roboto"
    src: url($font-path + "Roboto-Bold.woff") format("woff"),
        url($font-path + "Roboto-Bold.woff2") format("woff2")
    font-weight: 700
    font-style: normal

@font-face
    font-family: "Roboto"
    src: url($font-path + "Roboto-Medium.woff") format("woff"),
        url($font-path + "Roboto-Medium.woff2") format("woff2")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Roboto"
    src: url($font-path + "Roboto-Regular.woff") format("woff"),
        url($font-path + "Roboto-Regular.woff2") format("woff2")
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Roboto"
    src: url($font-path + "Roboto-Italic.woff") format("woff"),
        url($font-path + "Roboto-Italic.woff2") format("woff2")
    font-weight: 400
    font-style: italic

$roboto-font = "Roboto", sans-serif

// End Roboto

// Caveat

@font-face
    font-family: "Caveat"
    src: url($font-path + "Caveat-Regular.woff") format("woff"),
            url($font-path + "Caveat-Regular.woff2") format("woff2")
    font-weight: 400
    font-style: normal

$caveat-font = "Caveat", sans-serif

// End Caveat