{% extends 'app/site/layouts/inner.html.twig' %}

{% block content %}
    <section class="text-page box">

        <h1 class="text-page__title">
            <span class="text-page__title-text">{{ page.data.name }}</span>
        </h1>

        {% if page.data.fields.content is defined and  page.data.fields.content.value %}
            <div class="content">
                {{  page.data.fields.content.value|raw }}
            </div>
        {% endif %}

    </section>
{% endblock %}