{% extends 'app/site/layouts/inner.html.twig' %}

{% block content %}

    {% include 'app/site/elements/progress-bar.html.twig' %}

    <div class="articles-list">
        <div class="articles-list__items-wrapper js-articles-list">
            <div class="articles-list__item">
                {% include 'app/site/blocks/article.html.twig' %}
                {% include 'app/site/blocks/random-articles.html.twig' %}
            </div>
        </div>
        <div class="articles-list__loader-wrapper js-preloader">
            <div class="articles-list__loader"></div>
        </div>
    </div>

{% endblock %}

{% block prepend_javascripts %}
    <script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}