{% extends 'app/site/layouts/inner.html.twig' %}

{% block content %}

    <section class="preview-articles">

        <div class="preview-articles__list preview-articles__list--category js-articles-list">
            <div class="preview-articles__list-item">
                {% include 'app/site/blocks/articles-on-category-page.html.twig' %}
            </div>
        </div>

        <div class="preview-articles__next-page-wrapper js-more-btn-wrapper {% if articles.next_page %}is-active{% endif %}">
            <button class="preview-articles__next-page btn js-more-btn">Показать ещё</button>
        </div>
        <div class="preview-articles__loader-wrapper js-preloader">
            <div class="preview-articles__loader"></div>
        </div>

    </section>

{% endblock %}