{% import 'app/site/macros/svg.html.twig' as svg %}
{% set page_url = app.request.requestUri %}

<footer class="footer">
    <div class="footer-top">
        <div class="wrapper">
            <div class="footer-top__wrapper">
                <div class="footer-top__col footer-top__col--big">

                    {% if page_url == '/' %}
                        <div class="footer-top__logo is-main">
                            <p class="footer-top__logo-text">Лапа Кота</p>
                            <div class="footer-top__logo-icon">
                                {{ svg.default('cat-paw') }}
                            </div>
                        </div>
                    {% else %}
                        <a class="footer-top__logo" href="/">
                            <span class="footer-top__logo-text">Лапа Кота</span>
                            <span class="footer-top__logo-icon">
                                {{ svg.default('cat-paw') }}
                            </span>
                        </a>
                    {% endif %}

                    <div class="footer-top__pages">

                        {% if navigation.footer_pages %}
                            {% for item in navigation.footer_pages|orderFilter %}

                                {% set page = item.page %}

                                {% if page.published and page.path %}
                                    <a class="footer-top__page" href="{{ path(page.serverName) }}">{{ item.name }}</a>
                                {% endif %}

                            {% endfor %}
                        {% endif %}

                    </div>

                </div>
                <div class="footer-top__col footer-top__col--sections">
                    <div class="footer-top__col-item">
                        <p class="footer-top__col-item-title">Разделы</p>
                        <nav class="footer-top__list">

                            {% if navigation.footer_categories %}
                                {% for item in navigation.footer_categories %}

                                    {% set category = item.category %}

                                    {% if category.published and category.path %}
                                        <div class="footer-top__list-item">
                                            <a class="link" href="{{ path('category', {category_path: category.path}) }}">{{ item.name }}</a>
                                        </div>
                                    {% endif %}

                                {% endfor %}
                            {% endif %}

                        </nav>
                    </div>
                </div>
                <div class="footer-top__col footer-top__col--socials">
                    <div class="footer-top__col-item">
                        <p class="footer-top__col-item-title">Социальные сети</p>
                        <div class="footer-top__socials">

                            {% set socials = global_data.fields.socials %}
                            {% if socials and socials.value %}
                                {% for social in socials.value %}

                                    <a class="footer-top__social" href="{{ social.link }}" target="_blank" rel="nofollow">
                                        {{ svg.default(social.icon) }}
                                    </a>

                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper">
            <p class="footer-bottom__copyright">Copyright</p>
        </div>
    </div>
</footer>