<head>

    {% set absolute_page_url = app.request.schemeAndHttpHost ~ app.request.requestUri %}
    {% set global_data = global_data.data %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ page.seo.description }}">
    <meta name="keywords" content="{{ page.seo.keywords }}">
    <meta name="theme-color" content="#ffffff">

    {% if global_data.siteNameOnTitle and global_data.siteName %}
        <meta property="og:title" content="{{ page.seo.title }} — {{ global_data.siteName }}">
    {% else %}
        <meta property="og:title" content="{{ page.seo.title }}">
    {% endif %}

    <meta property="og:description" content="{{ page.seo.description }}">

    {% if page.type is defined and page.type == 'article' %}
        <meta property="og:type" content="article">
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}

    <meta property="og:url" content="{{ absolute_page_url }}">
    <meta property="og:locale" content="{{ global_data.siteLang }}">

    {% if global_data.shareUserAgents|length %}

    {% else %}

        {% if page.seo.image and page.seo.image.default %}
            <meta property="og:image" content="{{ absolute_url(page.seo.image.default) }}">
        {% else %}
            <meta property="og:image" content="{{ absolute_url(global_data.defaultShareImage) }}">
        {% endif %}

    {% endif %}

    <meta name="yandex-verification" content="95da9f29a3158eaf">

    {% if page.seo.canonical %}
        <link rel="canonical" href="{{ absolute_url(page.seo.canonical) }}">
    {% else %}
        <link rel="canonical" href="{{ absolute_page_url }}">
    {% endif %}

    <link rel="icon" type="img/png" href="{{ asset('app/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="img/png" href="{{ asset('app/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="img/png" href="{{ asset('app/favicons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="img/png" href="{{ asset('app/favicons/favicon-120x120.png') }}" sizes="120x120">
    <link rel="icon" type="img/png" href="{{ asset('app/favicons/favicon-128x128.png') }}" sizes="128x128">
    <link rel="icon" type="img/png" href="{{ asset('app/favicons/favicon-160x160.png') }}" sizes="160x160">
    <link rel="icon" type="img/png" href="{{ asset('app/favicons/favicon-196x196.png') }}" sizes="196x196">
    <link rel="icon" type="img/png" href="{{ asset('app/favicons/favicon-228x228.png') }}" sizes="228x228">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-57x57.png') }}" sizes="57x57">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-60x60.png') }}" sizes="60x60">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-72x72.png') }}" sizes="72x72">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-76x76.png') }}" sizes="76x76">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-114x114.png') }}" sizes="114x114">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-120x120.png') }}" sizes="120x120">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-144x144.png') }}" sizes="144x144">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-152x152.png') }}" sizes="152x152">
    <link rel="apple-touch-icon" href="{{ asset('app/favicons/apple-touch-favicon-180x180.png') }}" sizes="180x180">

    {% block prepend_stylesheets %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('app/build/common_css.css') }}">
    {% endblock %}

    {% block append_stylesheets %}{% endblock %}

    {% if global_data.siteNameOnTitle and global_data.siteName %}
        <title>{{ page.seo.title }} — {{ global_data.siteName }}</title>
    {% else %}
        <title>{{ page.seo.title }}</title>
    {% endif %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MGVRNP7');</script>
    <!-- End Google Tag Manager -->

</head>