{% import 'app/site/macros/svg.html.twig' as svg %}

{% set page_url = app.request.requestUri %}

<header class="header">
    <div class="wrapper">

        <div class="header__wrapper box">

            {% if page_url == '/' %}
                <div class="header__logo is-main">
                    <p class="header__logo-text">Лапа Кота</p>
                    <div class="header__logo-icon">
                        {{ svg.default('cat-paw') }}
                    </div>
                </div>
            {% else %}
                <a class="header__logo" href="/">
                    <span class="header__logo-text">Лапа Кота</span>
                    <span class="header__logo-icon">
                        {{ svg.default('cat-paw') }}
                    </span>
                </a>
            {% endif %}

            <nav class="header__nav">

                {% if navigation.categories %}
                    {% for item in navigation.categories|orderFilter %}

                        {% set category = item.category %}

                        {% if category.published and category.path %}

                            {% if category.path == page.data.path %}
                                <span class="header__nav-link is-active">{{ item.name }}</span>
                            {% else %}
                                <a class="header__nav-link" href="{{ path('category', {category_path: category.path}) }}">{{ item.name }}</a>
                            {% endif %}

                        {% endif %}

                    {% endfor %}
                {% endif %}

            </nav>

            <div class="header__mobile-menu-btn js-open-mobile-menu" data-open-popup="mobile-menu">
                {{ svg.default('menu') }}
            </div>

{#            <div class="header__lk">#}

{#                {% if user %}#}
{#                    <div class="header__user-block">#}
{#                        <a class="header__user-avatar" href="{{ path('profile', {path: ''}) }}">#}

{#                            {% if user.avatar %}#}
{#                                {{ svg.color(user.avatar) }}#}
{#                            {% else %}#}
{#                                {% set avatars = ['bear', 'boar', 'chicken', 'deer', 'dog', 'fox', 'frog', 'gorilla', 'hamster', 'koala', 'lion', 'monkey', 'mouse', 'owl', 'panda', 'penguin', 'pig', 'rabbit', 'tiger', 'wolf'] %}#}
{#                                {{ svg.color(random(avatars)) }}#}
{#                            {% endif %}#}

{#                        </a>#}
{#                        <a class="header__user-logout" href="{{ global_data.fields.logout_path.value }}">Выйти</a>#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div class="header__lk-item">#}
{#                        <p class="header__lk-item-title js-open-popup" data-open-popup="login">#}
{#                            Вход#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="header__lk-item">#}
{#                        <p class="header__lk-item-title js-open-popup" data-open-popup="registration">#}
{#                            Регистрация#}
{#                        </p>#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}

        </div>

    </div>
</header>