<template>
    <div class="editable-field">
        <editable-field-form v-if="types && items"
                             :types="types"
                             :items="items"
                             :incoming-inputs="inputs"
        ></editable-field-form>
    </div>
</template>

<script>

    import {mapState} from "vuex";
    import {checkType} from "../../../../../General/js/general/check-type";

    import editableFieldForm from "../../../forms/editable-field-form";

    export default {
        name: "editable-field",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.editableField.meta"),
                types: null,
                items: null,
                inputs: {}
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("endpoints", {
                endpoint: state => state.editableField
            }),
            ...mapState("user", {
                lastAction: state => state.actions.last
            })
        },
        metaInfo() {
            return this.metaInfo;
        },
        beforeMount() {

            this.$root.getEndpointData({
                server: {
                    method: this.endpoint.method,
                    url: this.endpoint.url,
                    data: {
                        id: this.$route.params.id,
                        action: JSON.stringify(this.lastAction)
                    }
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            setTypesText(types) {

                if (!checkType(types, "array")) {
                    if (DEV) console.error();
                    return false;
                }

                for (let type of types) {
                    type.name = "pages.editableField.types." + type.name;
                }

                this.types = types;

            },
            inputsDataModified(data) {

                if (!checkType(data, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                let pagesItems = [];
                let otherItems = [];

                for (let itemType in data.items) {
                    for (let item of data.items[itemType]) {
                        if (itemType === "pages" && item.checked) {
                            pagesItems.push(item.id);
                        } else if (itemType === "other" && item.checked) {
                            otherItems.push(item.id);
                        }
                    }
                }

                data.pagesItems = pagesItems;
                data.otherItems = otherItems;

                return data;

            },
            setData(data) {

                if (!checkType(data, "object") || !checkType(data.data, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                data = data.data;
                this.setTypesText(data.types);
                this.items = data.editableField.items;
                this.inputs = this.inputsDataModified(data.editableField);

            }
        },
        components: {
            editableFieldForm
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.editableField.meta")
            }
        }
    }

</script>