<template>
    <div class="editable-field">
        <editable-field-form v-if="types && items"
                             :types="types"
                             :items="items"
        ></editable-field-form>
    </div>
</template>

<script>

    import {mapState} from "vuex";
    import {checkType} from "../../../../../General/js/general/check-type";

    import editableFieldForm from "../../../forms/editable-field-form";

    export default {
        name: "new-editable-field",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.newEditableField.meta"),
                types: null,
                items: null
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("endpoints", {
                endpoint: state => state.newEditableField
            }),
            ...mapState("user", {
                lastAction: state => state.actions.last
            })
        },
        metaInfo() {
            return this.metaInfo;
        },
        beforeMount() {

            this.$root.getEndpointData({
                server: {
                    method: this.endpoint.method,
                    url: this.endpoint.url,
                    data: {action: JSON.stringify(this.lastAction)}
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            setTypesText(types) {

                if (!checkType(types, "array")) {
                    if (DEV) console.error();
                    return false;
                }

                for (let type of types) {
                    type.name = "pages.newEditableField.types." + type.name;
                }

                this.types = types;

            },
            setData(data) {

                if (!checkType(data, "object") || !checkType(data.data, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                data = data.data;
                this.setTypesText(data.types);
                this.items = data.items;

            }
        },
        components: {
            editableFieldForm
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.newEditableField.meta")
            }
        }
    }

</script>