<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1">

    <meta name="theme-color" content="#ffffff">

    {#<link rel="icon" type="img/png" href="{{ asset('simple_cms/favicons/favicon-16x16.png', 'simple_cms') }}" sizes="16x16">#}
    {#<link rel="icon" type="img/png" href="{{ asset('simple_cms/favicons/favicon-32x32.png', 'simple_cms') }}" sizes="32x32">#}
    {#<link rel="icon" type="img/png" href="{{ asset('simple_cms/favicons/favicon-96x96.png', 'simple_cms') }}" sizes="96x96">#}
    {#<link rel="icon" type="img/png" href="{{ asset('simple_cms/favicons/favicon-120x120.png', 'simple_cms') }}" sizes="120x120">#}
    {#<link rel="icon" type="img/png" href="{{ asset('simple_cms/favicons/favicon-128x128.png', 'simple_cms') }}" sizes="128x128">#}
    {#<link rel="icon" type="img/png" href="{{ asset('simple_cms/favicons/favicon-160x160.png', 'simple_cms') }}" sizes="160x160">#}
    {#<link rel="icon" type="img/png" href="{{ asset('simple_cms/favicons/favicon-196x196.png', 'simple_cms') }}" sizes="196x196">#}
    {#<link rel="icon" type="img/png" href="{{ asset('simple_cms/favicons/favicon-228x228.png', 'simple_cms') }}" sizes="228x228">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-57x57.png', 'simple_cms') }}" sizes="57x57">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-60x60.png', 'simple_cms') }}" sizes="60x60">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-72x72.png', 'simple_cms') }}" sizes="72x72">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-76x76.png', 'simple_cms') }}" sizes="76x76">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-114x114.png', 'simple_cms') }}" sizes="114x114">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-120x120.png', 'simple_cms') }}" sizes="120x120">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-144x144.png', 'simple_cms') }}" sizes="144x144">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-152x152.png', 'simple_cms') }}" sizes="152x152">#}
    {#<link rel="apple-touch-icon" href="{{ asset('simple_cms/favicons/apple-touch-favicon-180x180.png', 'simple_cms') }}" sizes="180x180">#}

    <link rel="stylesheet" href="{{ asset('simple_cms/build/simple_cms_css.css', 'simple_cms') }}">

</head>

<body>
    <div class="page-wrapper" id="cms" :class="'lang-' + lang">

        <div class="page-content">

            <cms-header></cms-header>

            <main>
                <router-view></router-view>
            </main>

        </div>
    {#<messages></messages>#}
    {#<popups></popups>#}
    </div>
    <script src="{{ asset('simple_cms/build/runtime.js', 'simple_cms') }}"></script>
    <script src="{{ asset('simple_cms/build/simple_cms_js.js', 'simple_cms') }}"></script>
</body>
</html>