{% set page_url = app.request.requestUri %}

<aside class="admin-aside box">

    {% if navigation.profile %}
        <nav class="admin-aside__nav">
            {% for item in navigation.profile|orderFilter %}
                {% if item.page.published and item.page.path %}

                    {% if item.page.path == page.data.path %}
                        <span class="admin-aside__nav-link is-active">
                            {{ item.name }}
                        </span>
                    {% else %}
                        <a class="admin-aside__nav-link" href="{{ path(item.page.serverName) }}">
                            {{ item.name }}
                        </a>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </nav>
    {% endif %}

</aside>