{% import 'app/site/macros/previews.html.twig' as previews %}

{% for article in articles.list %}

    {% set category = article.categories|orderFilter[0] %}

    {% set article = {
        link: path('article', {category_path: category.path, article_path: article.path}),
        title: article.name,
        category: {
            title: category.name,
            link: path('category', {category_path: category.path})
        },
        time_publication: article.publicationTime.date,
        preview_image: article.fields.preview_image.resourcePath,
        preview_text: article.fields.preview_text.value
    } %}

    {% if articles.page_index == 1 %}

        {% if loop.index == 1 %}
            {{ previews.first_article(article) }}
        {% elseif loop.index in [2, 3, 7, 8, 12, 13, 17, 18] %}
            {{ previews.medium_article(article) }}
        {% elseif loop.index in [4, 5, 6, 9, 10, 11, 14, 15, 16, 19, 20, 21] %}
            {{ previews.default_article(article) }}
        {% endif %}

    {% else %}

        {% if loop.index in [1, 2, 6, 7, 11, 12, 16, 17] %}
            {{ previews.medium_article(article) }}
        {% elseif loop.index in [3, 4, 5, 8, 9, 10, 13, 14, 15, 18, 19, 20] %}
            {{ previews.default_article(article) }}
        {% endif %}

    {% endif %}

{% endfor %}