{% import 'app/site/macros/svg.html.twig' as svg %}

<section class="article box js-article js-observable" data-article-id="{{ page.data.id }}">
    <div class="article__top-info">
        <a class="article__category btn btn--small" href="{{ path('category', {category_path: page.category.path}) }}">
            {{ page.category.name }}
        </a>
    </div>
    <h1 class="article__title">{{ page.data.name }}</h1>
    <div class="article__bottom-info">
        <div class="article__info-items-wrapper">
            <div class="article__info-item">
                <div class="article__info-item-icon">
                    {{ svg.default('time') }}
                </div>
                <time class="article__info-item-value" datetime="{{ page.data.publicationTime|date('Y-m-d\\TH:i:s') }}" itemprop="published">
                    {{ page.data.publicationTime|date('H:i d.m.Y') }}
                </time>
            </div>
            <div class="article__info-item">
                <div class="article__info-item-icon">
                    {{ svg.default('view') }}
                </div>
                <div class="article__info-item-value">
                    {{ page.data.views|length }}
                </div>
            </div>
        </div>
        {#                    {% include 'app/site/elements/add-favorites.html.twig' %}#}
    </div>
    <p class="article__preview-text">
        {{ page.data.fields.preview_text.value|raw }}
    </p>
    <div class="article__share-block">
        <p class="article__share-title">Поделиться статьей:</p>

        {% set article_url = absolute_url(path('article', {category_path: page.category.path, article_path: page.data.path})) %}

        <div class="article__share-list">
            <a class="article__share-link" href="https://vk.com/share.php?url={{ article_url }}" target="_blank" rel="nofollow">
                {{ svg.color('vk') }}
            </a>
            <a class="article__share-link" href="https://connect.ok.ru/offer?url={{ article_url }}" target="_blank" rel="nofollow">
                {{ svg.color('ok') }}
            </a>
            <a class="article__share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ article_url }}" target="_blank" rel="nofollow">
                {{ svg.color('fb') }}
            </a>
            <a class="article__share-link" href="https://telegram.me/share/url?url={{ article_url }}" target="_blank" rel="nofollow">
                {{ svg.color('tel') }}
            </a>
        </div>
    </div>

    <img class="article__main-image js-lazy-image" src="" alt="{{ page.data.name }}" data-image-src="{{ page.data.fields.main_image.resourcePath }}" data-image-alt="{{ page.data.name }}">

    {% if page.data.fields.content is defined and  page.data.fields.content.value %}
        <div class="content">
            {{  page.data.fields.content.value|raw }}
        </div>
    {% endif %}

    <div class="article__subscribe-block">
        <p class="article__subscribe-description">Подписывайся на нас в социальных сетях:</p>

        {% if global_data.fields.socials and global_data.fields.socials.value %}
            <div class="article__subscribe-socials">

                {% for social in global_data.fields.socials.value %}
                    <a class="article__subscribe-social" href="{{ social.link }}" target="_blank" rel="nofollow">
                        {{ svg.default(social.icon) }}
                    </a>
                {% endfor %}

            </div>
        {% endif %}

    </div>
    {#                {% include 'app/site/elements/add-favorites.html.twig' %}#}
</section>