{% import 'app/site/macros/previews.html.twig' as previews %}

{% for article in articles.list %}

    {% set article = {
        link: path('article', {category_path: page.data.path, article_path: article.path}),
        title: article.name,
        category: {
            title: page.data.name,
            link: path('category', {category_path: page.data.path})
        },
        time_publication: article.publicationTime.date,
        preview_image: article.fields.preview_image.resourcePath,
        preview_text: article.fields.preview_text.value
    } %}

    {{ previews.default_article(article, true) }}

{% endfor %}
