{% import 'app/site/macros/previews.html.twig' as previews %}

<aside class="aside js-slide-sidebar">
    <section class="aside__popular-articles">
        <h3 class="aside__popular-articles-title">Самые популярные статьи</h3>
        <div class="aside__popular-articles-list">

            {% for article in articles.popular %}

                {% set category = article.categories|orderFilter[0] %}
                {% set article = {
                    link: path('article', {category_path: category.path, article_path: article.path}),
                    title: article.name,
                    category: {
                        title: category.name,
                        link: path('category', {category_path: category.path})
                    },
                    time_publication: article.publicationTime
                } %}
                {{ previews.popular_article(article) }}

            {% endfor %}

        </div>
    </section>
</aside>