{% import 'app/site/macros/svg.html.twig' as svg %}

<div class="breadcrumbs box">
    <div class="breadcrumbs__list">

        <a class="breadcrumbs__link breadcrumbs__link--home" href="/">
            {{ svg.default('home') }}
        </a>

        {% for item in page.breadcrumbs %}

            {% if item.last is defined %}
                <span class="breadcrumbs__link is-active">{{ item.name }}</span>
            {% elseif item.path %}
                <a class="breadcrumbs__link" href="{{ item.path }}">{{ item.name }}</a>
            {% endif %}

        {% endfor %}

    </div>
</div>