{% import 'app/site/macros/svg.html.twig' as svg %}

{% set page_url = app.request.requestUri %}

<div class="mobile-menu box js-mobile-menu" data-popup="mobile-menu">

    <div class="mobile-menu__header">

        {% if page_url == '/' %}
            <div class="mobile-menu__logo is-main">
                <p class="mobile-menu__logo-text">Лапа Кота</p>
                <div class="mobile-menu__logo-icon">
                    {{ svg.default('cat-paw') }}
                </div>
            </div>
        {% else %}
            <a class="mobile-menu__logo" href="/">
                <span class="mobile-menu__logo-text">Лапа Кота</span>
                <span class="mobile-menu__logo-icon">
                    {{ svg.default('cat-paw') }}
                </span>
            </a>
        {% endif %}

        <div class="mobile-menu__close js-close-mobile-menu" data-close-popup="mobile-menu">
            {{ svg.default('close') }}
        </div>

    </div>

    <div class="mobile-menu__content">
        <div class="mobile-menu__sections">
            <p class="mobile-menu__sections-title">Разделы</p>
            <div class="mobile-menu__sections-list">

                {% if navigation.mobileMenu_categories %}
                    {% for item in navigation.mobileMenu_categories %}

                        {% set category = item.category %}

                        {% if category.published and category.path %}

                            {% if category.path == page.data.path %}
                                <div class="mobile-menu__section">
                                    <span class="link is-active">{{ item.name }}</span>
                                </div>
                            {% else %}
                                <div class="mobile-menu__section">
                                    <a class="link" href="{{ path('category', {category_path: category.path}) }}">{{ item.name }}</a>
                                </div>
                            {% endif %}

                        {% endif %}

                    {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="mobile-menu__socials">
            <p class="mobile-menu__socials-title">Социальные сети</p>
            <div class="mobile-menu__socials-list">

                {% set socials = global_data.fields.socials %}
                {% if socials and socials.value %}
                    {% for social in socials.value %}

                        <a class="mobile-menu__social" href="{{ social.link }}" target="_blank" rel="nofollow">
                            {{ svg.default(social.icon) }}
                        </a>

                    {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="mobile-menu__footer">

            {% if navigation.mobileMenu_pages %}
                {% for item in navigation.mobileMenu_pages|orderFilter %}

                    {% set page = item.page %}

                    {% if page.published and page.path %}
                        <a class="mobile-menu__page" href="{{ path(page.serverName) }}">{{ item.name }}</a>
                    {% endif %}

                {% endfor %}
            {% endif %}

        </div>
    </div>

</div>