{% import 'app/site/macros/previews.html.twig' as previews %}

<section class="mobile-popular-articles">
    <h3 class="mobile-popular-articles__title">
        <span class="tablet-text">Самые популярные статьи</span>
        <span class="mobile-text">Самая популярная статья</span>
    </h3>
    <div class="mobile-popular-articles__list">

        {% for article in articles.popular %}
            {% if loop.index < 4 %}

                {% set category = article.categories|orderFilter[0] %}
                {% set article = {
                    link: path('article', {category_path: category.path, article_path: article.path}),
                    title: article.name,
                    category: {
                        title: category.name,
                        link: path('category', {category_path: category.path})
                    },
                    time_publication: article.publicationTime
                } %}
                {{ previews.popular_article(article) }}

            {% endif %}
        {% endfor %}

    </div>
</section>