{% import 'app/site/macros/previews.html.twig' as previews %}

<div class="random-articles">

    {% for article in articles.random %}

        {% set category = article.categories|orderFilter[0] %}
        {% set _article = {
            link: path('article', {category_path: category.path, article_path: article.path}),
            title: article.name,
            category: {
                link: path('category', {category_path: category.path}),
                title: category.name
            },
            time_publication: article.publicationTime,
            preview_image: article.fields.preview_image.resourcePath,
            preview_text: article.fields.preview_text.value
        } %}

        {{ previews.default_article(_article, true) }}

    {% endfor %}

</div>