{% import 'app/site/macros/svg.html.twig' as svg %}

<div class="subscribe">
    <p class="subscribe__title">Подпишись на наши наинтереснейшие статьи!</p>
    <form class="subscribe__form" action="" method="post">
        <div class="subscribe__form-input-item">
            <label class="subscribe__form-input-wrapper js-focus-input-wrapper">
                <span class="subscribe__form-input-title">Введите свой email</span>
                <input class="subscribe__form-input js-focus-input" type="text" name="email" autocomplete="email">
            </label>
        </div>
        <p class="subscribe__form-input-warn"></p>
        <button class="subscribe__form-submit btn btn--small">Подписаться</button>
    </form>
    <div class="subscribe__icon">
        {{ svg.default('paw') }}
    </div>
</div>