<template>
    <header class="header"
            :class="{'header--empty': !user.id}"
            v-if="pageName !== 'logout'"
    >
        <div class="wrapper">

            <div class="header__logo-wrapper">
                <div class="header__logo"
                     v-if="pageName === 'index'"
                ></div>
                <router-link class="header__logo"
                             v-else
                             :to="{name: 'index'}"
                ></router-link>
            </div>

            <nav class="header__nav" v-if="user.id">
                <router-link class="header__nav-link"
                             v-for="link of nav"
                             :key="link.text"
                             :to="link.page"
                             v-text="$ml.get(link.text)"
                ></router-link>
            </nav>

            <div class="header__user-block" v-if="user.id">
                <p class="header__user-login">{{ user.login }}</p>
                <router-link class="header__user-logout"
                             :to="{name: 'logout'}"
                             v-text="$ml.get('blocks.header.user.logout')"
                ></router-link>
            </div>

            <div class="header__lang-block">
                <p class="header__lang-title"></p>
                <select class="header__lang-list"
                        @change="changeLang($event.target.value)"
                >
                    <option class="header__lang-item"
                            v-for="item of $ml.list"
                            v-if="cmsLang === item"
                            selected
                            :value="item"
                    >
                        {{ item }}
                    </option>
                    <option class="header__lang-item"
                            v-else
                            :value="item"
                    >
                        {{ item }}
                    </option>
                </select>
            </div>

        </div>
    </header>
</template>

<script>

    import {mapState} from "vuex";
    import {checkType} from "../../../General/js/general/check-type";

    export default {
        name: "cms-header",
        data() {
            return {
                nav: [
                    {
                        page: {name: "simpleManager"},
                        text: "blocks.header.nav.simpleManager"
                    },
                    // {
                    //     page: {name: ""},
                    //     text: ""
                    // },
                    // {
                    //     page: {name: ""},
                    //     text: ""
                    // }
                ]
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("user", {
                user: state => state
            }),
            pageName() {
                return this.$route.name;
            }
        },
        methods: {
            changeLang(lang) {
                this.$root.changeLang(lang);
            }
        }
    }

</script>