<template>
    <div>
        <preload :hide="!!data"></preload>
    </div>
</template>

<script>

    import {mapState} from "vuex";
    import preload from "../../blocks/preload";

    export default {
        name: "simple-manager-info",
        data() {
            return {
                data: null,
                metaInfo: this.$ml.get("pages.simpleManagerInfo.meta")
            }
        },
        computed: {
            ...mapState("cms", {
                cmsLang: state => state.lang
            }),
            ...mapState("endpoints", {
                endpoint: state => state.simpleManager
            }),
            ...mapState("user", {
                lastAction: state => state.actions.last
            })
        },
        metaInfo() {
            return this.metaInfo
        },
        beforeMount() {

            this.$root.getEndpointData({
                server: {
                    method: this.endpoint.method,
                    url: this.endpoint.url,
                    data: {action: JSON.stringify(this.lastAction)}
                },
                funcs: {
                    success: this.setData,
                    notLogged: this.$root.defaultLogout
                }
            });

        },
        methods: {
            setData() {

            }
        },
        components: {
            preload
        },
        watch: {
            cmsLang() {
                this.metaInfo = this.$ml.get("pages.simpleManagerInfo.meta")
            }
        }
    }

</script>