<template>
    <div class="simple-manager">
        <simple-manager-aside></simple-manager-aside>
        <div class="wrapper">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>

    import simpleManagerAside from "../../blocks/simple-manager-aside";

    export default {
        name: "simple-manger",
        data() {
            return {}
        },
        components: {
            simpleManagerAside
        }
    }

</script>