<template>
    <v-section name="notifications" :title="$ml.get('blocks.notifications.titles.main')">

    </v-section>
</template>

<script>

    import vSection from "../mixins/v-section";

    export default {
        name: "notifications",
        data() {
            return {}
        },
        components: {
            vSection
        }
    }

</script>