<template>
    <v-section name="online-users" :title="$ml.get('blocks.onlineUsers.titles.main')">

    </v-section>
</template>

<script>

    import vSection from "../mixins/v-section";

    export default {
        name: "online-users",
        data() {
            return {};
        },
        components: {
            vSection
        }
    }

</script>