<template>
    <div class="preload" :class="{'is-hide': hide}">
        <div class="preload__overlay"></div>
        <div class="preload__loader"></div>
    </div>
</template>

<script>

    export default {
        name: "preload",
        props: {
            hide: {
                type: Boolean,
                required: true
            }
        },
        data() {
            return {}
        }
    };

</script>