<template>
    <aside class="simple-manager-aside">
        <nav class="simple-manager-aside__nav">
            <div class="simple-manager-aside__nav-item" v-for="item of nav">

                <div class="simple-manager-aside__nav-item-wrapper" v-if="item.children">
                    <div class="simple-manager-aside__nav-item-link-wrapper">
                        <router-link class="simple-manager-aside__nav-item-link"
                                     :to="item.page"
                                     v-text="$ml.get(item.text)"
                        ></router-link>
                        <div class="simple-manager-aside__nav-item-link-arr">
                            <v-svg name=""></v-svg>
                        </div>
                    </div>
                    <div class="simple-manager-aside__nav-item-children">
                        <div class="simple-manager-aside__nav-item" v-for="child of item.children">
                            <div class="simple-manager-aside__nav-item-link-wrapper">
                                <router-link class="simple-manager-aside__nav-item-link"
                                             :to="child.page"
                                             v-text="$ml.get(child.text)"
                                ></router-link>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="simple-manager-aside__nav-item-wrapper" v-else>
                    <router-link class="simple-manager-aside__nav-item-link"
                                 :to="item.page"
                                 v-text="$ml.get(item.text)"
                    ></router-link>
                </div>

            </div>
        </nav>
    </aside>
</template>

<script>

    import vSvg from "../mixins/v-svg";

    export default {
        name: "simple-manager-aside",
        data() {
            return {
                nav: [
                    {
                        page: {name: "extensions"},
                        text: "blocks.simpleManagerAside.nav.extensions",
                        children: [
                            {
                                page: {name: "collections"},
                                text: "blocks.simpleManagerAside.nav.collections"
                            }
                        ]
                    },
                    {
                        page: {name: "editableFields"},
                        text: "blocks.simpleManagerAside.nav.editableFields"
                    },
                    {
                        page: {name: "categories"},
                        text: "blocks.simpleManagerAside.nav.categories"
                    }
                ]
            }
        },
        components: {
            vSvg
        }
    }

</script>