<template>
    <v-section name="simple-cms-news" :title="$ml.get('blocks.simpleCmsNews.titles.main')">

    </v-section>
</template>

<script>

    import vSection from "../mixins/v-section";

    export default {
        name: "simple-cms-news",
        data() {
            return {}
        },
        components: {
            vSection
        }
    }

</script>