<template>
    <v-section name="site-statistics" :title="$ml.get('blocks.siteStatistics.titles.main')">

    </v-section>
</template>

<script>

    import vSection from "../mixins/v-section";

    export default {
        name: "site-statistics",
        data() {
            return {}
        },
        components: {
            vSection
        }
    }

</script>