<template>
    <div class="snippets">
        <div class="snippets__info-block">
            <snippet-form v-if="snippetTemplate.inputs"
                          :data="snippetTemplate"
            ></snippet-form>
        </div>
        <div class="snippets__list-block">
            <p class="snippets__list-title"></p>
            <div class="snippets__list" v-if="snippets">
                <button class="snippets__item"
                        v-for="snippet in $root.orderIndex(snippets)"
                        @click="selectSnippet(snippet.id)"
                >
                    {{ snippet.name }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from "axios";

    import {mapState} from "vuex";
    import {checkType} from "../../../General/js/general/check-type";
    import {serialize} from "../../../General/js/general/serialize";
    import {destructuring} from "../../../General/js/general/destructuring";

    import snippetForm from "../forms/snippet-form";

    export default {
        name: "snippets",
        data() {
            return {
                snippetTemplate: {
                    id: null,
                    name: null,
                    serverName: null,
                    inputs: null
                }
            }
        },
        computed: {
            ...mapState("wysiwyg", {
                snippets: state => state.snippets
            }),
            ...mapState("api", {
                snippetTemplateDataRequest: state => state.snippetTemplate.data
            })
        },
        methods: {
            selectSnippet(id) {

                if (!checkType(id, "number")) {
                    if (DEV) console.error();
                    return false;
                }

                let vue = this;

                axios({
                    method: this.snippetTemplateDataRequest.method,
                    url: this.snippetTemplateDataRequest.url,
                    data: serialize(this.snippetTemplateDataRequest.method, {
                        id
                    }),
                    headers: {"Content-Type": "application/x-www-form-urlencoded"}
                })
                    .then(response => {

                        let requestData = response.data;

                        if (!requestData.success) {

                        }

                        let snippetData = requestData.data.snippet;

                        if (checkType(snippetData, "object")) {

                            let {id, name, serverName, structure} = destructuring(snippetData);

                            vue.snippetTemplate.id = id;
                            vue.snippetTemplate.name = name;
                            vue.snippetTemplate.serverName = serverName;
                            vue.snippetTemplate.inputs = vue.$root.generateInputsByStructure(structure, "snippets", "snippet");

                        }

                    })
                    .catch(error => {

                    });

            }
        },
        components: {
            snippetForm
        }
    }

</script>