<template>
    <div class="wysiwyg-block">
        <div class="wysiwyg" @click="checkStyle">
            <div class="wysiwyg__panel">
                <div class="wysiwyg__top-panel"
                     :class="{'is-code-mode': wysiwyg.mode === 'code'}"
                >
                    <div class="wysiwyg__caption-style-block">
                        <select class="wysiwyg__caption-style"
                                v-model="wysiwyg.textStyle"
                                @change="changeTextStyle($event.target.value)"
                        >
                            <option v-for="style of textStyles"
                                    :value="style"
                                    v-text="$ml.get('blocks.wysiwyg.selects.textStyles.' + style)"
                            >
                            </option>
                        </select>
                    </div>
                    <div class="wysiwyg__text-style-block">
                        <button class="wysiwyg__text-style-btn"
                                :class="{'is-active': wysiwyg.style.bold}"
                                @click="bold"
                        >
                            <v-svg name="bold-text"></v-svg>
                        </button>
                        <button class="wysiwyg__text-style-btn"
                                :class="{'is-active': wysiwyg.style.italic}"
                                @click="italic"
                        >
                            <v-svg name="italic-text"></v-svg>
                        </button>
                        <button class="wysiwyg__text-style-btn"
                                :class="{'is-active': wysiwyg.style.underline}"
                                @click="underline"
                        >
                            <v-svg name="underline-text"></v-svg>
                        </button>
                        <button class="wysiwyg__text-style-btn"
                                :class="{'is-active': wysiwyg.style.strikeThrough}"
                                @click="strikeThrough"
                        >
                            <v-svg name="strikethrough-text"></v-svg>
                        </button>
                    </div>
                    <div class="wysiwyg__text-align-block">
                        <button class="wysiwyg__text-align-btn"
                                :class="{'is-active': wysiwyg.align.left}"
                                @click="alignLeft"
                        >
                            <v-svg name="left-align"></v-svg>
                        </button>
                        <button class="wysiwyg__text-align-btn"
                                :class="{'is-active': wysiwyg.align.center}"
                                @click="alignCenter"
                        >
                            <v-svg name="center-align"></v-svg>
                        </button>
                        <button class="wysiwyg__text-align-btn"
                                :class="{'is-active': wysiwyg.align.right}"
                                @click="alignRight"
                        >
                            <v-svg name="right-align"></v-svg>
                        </button>
                        <button class="wysiwyg__text-align-btn"
                                :class="{'is-active': wysiwyg.align.justify}"
                                @click="alignJustify"
                        >
                            <v-svg name="justify-align"></v-svg>
                        </button>
                    </div>
                    <div class="wysiwyg__lists-block">
                        <button class="wysiwyg__lists-btn"
                                @click="addList('unordered')"
                        >
                            <v-svg name="unordered-list"></v-svg>
                        </button>
                        <button class="wysiwyg__lists-btn"
                                @click="addList('ordered')"
                        >
                            <v-svg name="ordered-list"></v-svg>
                        </button>
                    </div>
                    <div class="wysiwyg__code-mode"
                         :class="{'is-active': wysiwyg.mode === 'code'}"
                         @click="changeMode"
                    >
                        <v-svg name="code-mode"></v-svg>
                    </div>
                </div>
                <div class="wysiwyg__bottom-panel">
                    <button class="wysiwyg__snippets"
                            v-text="$ml.get('blocks.wysiwyg.snippets.btn')"
                    >

                    </button>
                </div>
            </div>
            <div class="wysiwyg__content-block">
                <div class="wysiwyg__content" v-show="wysiwyg.mode === 'content'">
                    <div :contenteditable="wysiwyg.mode === 'content' ? 'true' : 'false'"
                         ref="content"
                         style="width: 400px; height: 600px;"
                         @click="checkSnippet"
                         @keydown="writeOnSnippet"
                         @input="write"
                         @keyup.alt.enter="setBreakpoint($event)"
                         @keyup.delete="removeSnippet"
                    ></div>
                </div>
                <div class="wysiwyg__code" v-show="wysiwyg.mode === 'code'">
                <textarea ref="code"
                          style="width: 400px; height: 300px;"
                          :value="data.value | setIndent"
                          @input="writeCode($event.target.value)"
                ></textarea>
                </div>
            </div>
            <div class="wysiwyg__status-bar">
                <div class="wysiwyg__status-tags">
                    <p class="wysiwyg__status-tag" v-for="tag of wysiwyg.tags">{{ tag }}</p>
                </div>
            </div>
        </div>
        <snippets></snippets>
    </div>
</template>

<script>

    import pretty from "pretty";
    import axios from "axios";

    import {checkType} from "../../../General/js/general/check-type";
    import {attr} from "../../../General/js/general/attr";
    import {findElemsTag} from "../../../General/js/general/find";
    import {findCurrentParent} from "../../../General/js/general/find-current-parent";
    import {mapState} from "vuex";

    import vSvg from "../mixins/v-svg";
    import snippets from "./snippets";
    import {serialize} from "../../../General/js/general/serialize";

    export default {
        name: "wysiwyg",
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                wysiwyg: {
                    mode: "content",
                    textStyle: "p",
                    tags: [],
                    style: {
                        bold: false,
                        italic: false,
                        underline: false,
                        strikeThrough: false
                    },
                    align: {
                        left: true,
                        center: false,
                        right: false,
                        justify: false
                    }
                },
                textStyles: ["p", "h1", "h2", "h3", "h4", "h5", "h6", "blockquote"],
                selectSnippet: {
                    status: false,
                    elem: null,
                    id: null
                }
            }
        },
        computed: {
            ...mapState("api", {
                removeSnippetRequest: state => state.snippet.remove
            })
        },
        mounted() {

            this.init();

        },
        filters: {
            setIndent(value) {

                if (!value) {
                    return value;
                }

                return pretty(value, {oct: true});

            }
        },
        methods: {
            init() {

                if (checkType(this.data.value, "string")) {
                    this.$refs.content.innerHTML = this.data.value;
                } else {
                    this.$refs.content.innerHTML = "<p><br></p>";
                }

                document.execCommand("defaultParagraphSeparator", false, "p");

            },
            changeMode() {

                this.wysiwyg.mode = (this.wysiwyg.mode !== "code") ? "code" : "content";

                if (this.wysiwyg.mode === "content") {
                    this.$refs.content.innerHTML = this.data.value;
                }


            },
            writeOnSnippet(e) {

                if (!this.selectSnippet.status) {
                    return false;
                }

                let selection = window.getSelection();
                let range = document.createRange();
                let newParagraph = document.createElement("p");

                newParagraph.innerHTML = "<br>";
                this.$refs.content.appendChild(newParagraph);
                range.setStart(newParagraph, 0);
                range.collapse(true);
                selection.removeAllRanges();
                selection.addRange(range);
                // this.selectSnippet = false;

            },
            removeSnippet() {
                // Todo сделать предупреждение и открытие редактора сниппета

                if (!this.selectSnippet.status) {
                    return false;
                }

                let vue = this;

                // Todo при удалении сниппета или сделать сохранение контента или удалять сниппет на беке
                // Todo Сделать удаление связанных файлов и изображений

                axios({
                    method: this.removeSnippetRequest.method,
                    url: this.removeSnippetRequest.url,
                    data: serialize(this.removeSnippetRequest.method, {
                        id: this.selectSnippet.id
                    }),
                    headers: {"Content-Type": "application/x-www-form-urlencoded"}
                })
                    .then(response => {

                        let requestData = response.data;

                        if (!requestData.success) {

                        }

                        vue.$refs.content.removeChild(vue.selectSnippet.elem);

                    })
                    .catch(error => {

                    });

            },
            write(e) {

                let content = e.target.innerHTML;
                let text = this.$refs.content.innerHTML;

                if (!text) {
                    this.$refs.content.innerHTML = "<p><br></p>";
                }

                this.checkTextStyle();
                this.getTags();
                this.checkSnippet();
                this.data.value = content;

            },
            writeCode(content) {
                this.data.value = content;
            },
            changeTextStyle(value) {

                if (!checkType(value, "string")) {
                    if (DEV) console.error();
                    return false;
                }

                document.execCommand("formatBlock", false, "<" + value.toUpperCase() + ">");

            },
            bold() {
                document.execCommand("bold");
            },
            italic() {
                document.execCommand("italic");
            },
            underline() {
                document.execCommand("underline");
            },
            strikeThrough() {
                document.execCommand("strikeThrough");
            },
            alignLeft() {
                document.execCommand("justifyLeft");
            },
            alignCenter() {
                document.execCommand("justifyCenter");
            },
            alignRight() {
                document.execCommand("justifyRight");
            },
            alignJustify() {
                document.execCommand("justifyFull");
            },
            createList(type) {

                if (!checkType(type, "string")) {
                    if (DEV) console.error();
                    return false;
                }

                if (type === "unordered") {
                    document.execCommand("insertUnorderedList");
                } else if (type === "ordered") {
                    document.execCommand("insertOrderedList");
                }

                let selection = window.getSelection();
                let list = selection.extentNode.parentNode.parentNode;
                let listParent = list.parentNode;
                let listParentTagName = listParent.nodeName.toLowerCase();

                if (this.isParentRedactor(listParent) && listParentTagName === "p") {
                    listParent.replaceWith(list);
                }

                this.checkTextStyle();
                this.getTags();
                this.data.value = this.$refs.content.innerHTML;

            },
            removeList() {

                let selection = window.getSelection();

                if (!selection.extentNode) {
                    return false;
                }

                let elem = selection.extentNode.parentNode;
                let list = elem.parentNode;
                let listItems = findElemsTag("li", list);
                let listParent = list.parentNode;
                let data = [];

                for (let item of listItems) {
                    let newElem = document.createElement("p");
                    newElem.innerHTML = item.innerHTML;
                    data.push(newElem);
                }

                if (this.isParentRedactor(list)) {

                    let nextSibling = list.nextSibling;

                    for (let i in data) {

                        if (i === "0") {
                            listParent.replaceChild(data[i], list);
                        } else {
                            listParent.insertBefore(data[i], nextSibling);
                        }

                    }

                    this.checkTextStyle();
                    this.getTags();
                    this.data.value = this.$refs.content.innerHTML;

                }

            },
            addList(type) {

                if (!checkType(type, "string")) {
                    if (DEV) console.error();
                    return false;
                }

                let selection = window.getSelection();

                if (!selection.extentNode) {
                    return false;
                }

                let elem = selection.extentNode.parentNode;
                let list = elem.closest("ul, ol");
                let remove = false;

                if (list && ((list.tagName.toLowerCase() === "ul" && type === "unordered") || (list.tagName.toLowerCase() === "ol" && type === "ordered"))) remove = true;

                if (remove) {
                    this.removeList();
                } else {
                    this.createList(type);
                }

            },
            setBreakpoint(e) {

                if (!checkType(e, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                let selection = window.getSelection();
                let cursorPosition = selection.anchorOffset;
                let elem = selection.extentNode.parentNode;
                let allText = elem.innerHTML;
                let workText = selection.extentNode.textContent;
                let textPart1 = workText.substr(0, cursorPosition);
                let textPart2 = workText.substr(cursorPosition, workText.length);
                let textWithBr = textPart1 + "<br>" + textPart2;

                elem.innerHTML = allText.replace(workText, textWithBr);
                this.data.value = e.target.innerHTML;

            },
            isBold() {
                if (this.wysiwyg.style.bold !== document.queryCommandState("bold")) {
                    this.wysiwyg.style.bold = document.queryCommandState("bold");
                }
            },
            isItalic() {
                if (this.wysiwyg.style.italic !== document.queryCommandState("italic")) {
                    this.wysiwyg.style.italic = document.queryCommandState("italic");
                }
            },
            isUnderline() {
                if (this.wysiwyg.style.underline !== document.queryCommandState("underline")) {
                    this.wysiwyg.style.underline = document.queryCommandState("underline");
                }
            },
            isStrikeThrough() {
                if (this.wysiwyg.style.underline !== document.queryCommandState("strikeThrough")) {
                    this.wysiwyg.style.underline = document.queryCommandState("strikeThrough");
                }
            },
            isLeftAlign() {
                if (this.wysiwyg.align.left !== document.queryCommandState("justifyLeft")) {
                    this.wysiwyg.align.left = document.queryCommandState("justifyLeft");
                }
            },
            isCenterAlign() {
                if (this.wysiwyg.align.center !== document.queryCommandState("justifyCenter")) {
                    this.wysiwyg.align.center = document.queryCommandState("justifyCenter");
                }
            },
            isRightAlign() {
                if (this.wysiwyg.align.right !== document.queryCommandState("justifyRight")) {
                    this.wysiwyg.align.right = document.queryCommandState("justifyRight");
                }
            },
            isJustifyAlign() {
                if (this.wysiwyg.align.justify !== document.queryCommandState("justifyFull")) {
                    this.wysiwyg.align.justify = document.queryCommandState("justifyFull");
                }
            },
            isParentRedactor(elem) {

                if (!checkType(elem, "object")) {
                    if (DEV) console.error();
                    return false;
                }

                let parent = elem.parentNode;
                let parentTagName = parent.nodeName.toLowerCase();

                if (parentTagName === "div") {
                    return attr(parent, "contenteditable");
                } else {
                    return false;
                }

            },
            checkTextStyle() {

                let extentNode = window.getSelection().extentNode;

                if (!extentNode) {
                    return false;
                }

                let elemTag = extentNode.parentNode.nodeName.toLowerCase();

                if (this.textStyles.indexOf(elemTag) !== -1 && this.wysiwyg.textStyle !== elemTag) {
                    this.wysiwyg.textStyle = elemTag;
                } else {
                    this.wysiwyg.textStyle = "p";
                }

            },
            checkSnippet() {

                let selection = window.getSelection();
                let selectElem = selection.extentNode;

                while (!(selectElem instanceof HTMLElement) || (selectElem instanceof HTMLElement && !selectElem.classList.contains("js-snippet"))) {

                    selectElem = selectElem.parentNode;

                    if (selectElem === document) {
                        selectElem = null;
                        break;
                    }

                }

                this.selectSnippet.status = selectElem && selectElem.classList.contains("js-snippet");

                if (this.selectSnippet.status) {
                    this.selectSnippet.elem = selectElem;
                    this.selectSnippet.id = attr(selectElem, "data-snippet-id");
                }

            },
            getTags() {

                let selection = window.getSelection();
                let parent = selection.extentNode.parentNode;
                let parentTagName = parent.nodeName.toLowerCase();
                let contentField = findCurrentParent(parent, "wysiwyg__content");

                if (parent.classList.contains("wysiwyg__content") || !contentField) {
                    return false;
                }

                this.wysiwyg.tags = [];

                while (parent !== document && !(attr(parent, "contenteditable") && parentTagName === "div")) {

                    this.wysiwyg.tags.push(parentTagName);
                    parent = parent.parentNode;
                    parentTagName = parent.nodeName.toLowerCase();

                }

                this.wysiwyg.tags.reverse();

            },
            checkStyle() {

                this.isBold();
                this.isItalic();
                this.isUnderline();
                this.isStrikeThrough();
                this.isLeftAlign();
                this.isCenterAlign();
                this.isRightAlign();
                this.isJustifyAlign();
                this.getTags();
                this.checkTextStyle();

            }
        },
        components: {
            vSvg,
            snippets
        }
    }

</script>