// Стили дефолтной обертки, которая используется в шаблоне

.wrapper
    margin: 0 auto
    padding: 0 $site-paddings
    position: relative
    min-width: $small-phone
    width: 100%
    box-sizing: border-box