{% macro popular_article(article) %}

    {% if article and (article.link and article.title and (article.category and (article.category.title and article.category.link)) and article.time_publication) %}
        <article class="preview-popular-article box box--hover" title="{{ article.title }}">
            <a class="preview-popular-article__link" href="{{ article.link }}"></a>
            <h3 class="preview-popular-article__title">
                {{ article.title }}
            </h3>
            <div class="preview-popular-article__info">
                <a class="preview-popular-article__category" href="{{ article.category.link }}">
                    {{ article.category.title }}
                </a>
                <span class="preview-popular-article__indent">/</span>
                <time class="preview-popular-article__time" datetime="{{ article.time_publication|date('Y-m-d\\TH:i:s') }}">
                    {{ article.time_publication|date('d.m') }}
                </time>
            </div>
        </article>
    {% endif %}

{% endmacro %}

{% macro first_article(article) %}

    {% import 'app/site/macros/previews.html.twig' as previews %}

    {% if article and (article.link and article.title and (article.category and (article.category.title and article.category.link)) and article.time_publication and article.preview_image) %}

        <article class="preview-first-article box box--hover" title="{{ article.title }}">
            <div class="preview-first-article__img-wrapper">
                <span class="preview-first-article__img js-lazy-image" data-style-image="{{ article.preview_image }}"></span>
                <div class="preview-first-article__img-overlay"></div>
            </div>
            <div class="preview-first-article__content">
                <a class="preview-first-article__link" href="{{ article.link }}"></a>
                <div class="preview-first-article__info">
                    <a class="preview-first-article__category" href="{{ article.category.link }}">
                        {{ article.category.title }}
                    </a>
                    <time class="preview-first-article__time" datetime="{{ article.time_publication|date('Y-m-d\\TH:i:s') }}" itemprop="published">
                        {{ article.time_publication|date('d.m') }}
                    </time>
                </div>
                <h2 class="preview-first-article__title">
                    {{ article.title }}
                </h2>
                <button class="preview-first-article__more btn btn--white btn--big">Читать</button>
            </div>
        </article>

        {{ previews.default_article(article, article.category, 'first') }}

    {% endif %}

{% endmacro %}

{% macro medium_article(article) %}

    {% import 'app/site/macros/previews.html.twig' as previews %}

    {% if article and (article.link and article.title and (article.category and (article.category.title and article.category.link)) and article.time_publication and article.preview_image) %}

        <article class="preview-medium-article box box--hover" title="{{ article.title }}">
            <div class="preview-medium-article__img-wrapper">
                <span class="preview-medium-article__img js-lazy-image" data-style-image="{{ article.preview_image }}"></span>
                <div class="preview-medium-article__img-overlay"></div>
            </div>
            <div class="preview-medium-article__content">
                <a class="preview-medium-article__link" href="{{ article.link }}"></a>
                <div class="preview-medium-article__info">
                    <a class="preview-medium-article__category" href="{{ article.category.link }}">
                        {{ article.category.title }}
                    </a>
                    <time class="preview-medium-article__time" datetime="{{ article.time_publication|date('Y-m-d\\TH:i:s') }}" itemprop="published">
                        {{ article.time_publication|date('d.m') }}
                    </time>
                </div>
                <h2 class="preview-medium-article__title">
                    {{ article.title }}
                </h2>
            </div>
        </article>

        {{ previews.default_article(article, article.category, 'medium') }}

    {% endif %}

{% endmacro %}

{% macro default_article(article, category, class) %}

    {% if article and (article.link and article.title and (article.category and (article.category.title and article.category.link)) and article.time_publication and article.preview_image and article.preview_text) %}
        <article class="preview-article {% if class %}preview-article--{{ class }}{% endif %} box box--hover" title="{{ article.title }}">
            <a class="preview-article__link" href="{{ article.link }}"></a>
            <div class="preview-article__img-wrapper">
                <div class="preview-article__img js-lazy-image" data-style-image="{{ article.preview_image }}"></div>
                <div class="preview-article__info">

                    {% if category %}
                        <time class="preview-article__time preview-article__time--single" datetime="{{ article.time_publication|date('Y-m-d\\TH:i:s') }}" itemprop="published">
                            {{ article.time_publication|date('d.m') }}
                        </time>
                    {% else %}
                        <a class="preview-article__category" href="{{ article.category.link }}">
                            {{ article.category.title }}
                        </a>
                        <time class="preview-article__time" datetime="{{ article.time_publication|date('Y-m-d\\TH:i:s') }}" itemprop="published">
                            {{ article.time_publication|date('d.m') }}
                        </time>
                    {% endif %}

                </div>
            </div>
            <div class="preview-article__content">
                <h2 class="preview-article__title">
                    {{ article.title }}
                </h2>
                <p class="preview-article__description">
                    {{ article.preview_text|cutText(146) }}
                </p>
            </div>
        </article>
    {% endif %}

{% endmacro %}