<template>
    <div class="form" :class="'form--' + name">
        <preload :hide="hidePreload"></preload>
        <p class="form__title" v-if="title">{{ title }}</p>
        <p class="form__description" v-if="description">{{ description }}</p>
        <div class="form__inputs">
            <slot name="inputs"></slot>
        </div>
        <slot name="content"></slot>
    </div>
</template>

<script>

    import preload from "../blocks/preload";

    export default {
        name: "v-form",
        props: {
            name: {
                type: String,
                required: true
            },
            title: String,
            description: String,
            hidePreload: {
                type: Boolean,
                required: true
            }
        },
        components: {
            preload
        }
    };

</script>