<template>
    <section class="section" :class="name">
        <div class="section__title-wrapper">
            <div class="section__title-icon" v-if="icon">
                <v-svg :name="icon"></v-svg>
            </div>
            <h3 class="section__title">{{ title }}</h3>
        </div>
        <div class="section__content">
            <slot name="content"></slot>
        </div>
    </section>
</template>

<script>

    import vSvg from "./v-svg";

    export default {
        name: "v-section",
        props: {
            name: {
                type: String,
                required: true
            },
            icon: String,
            title: {
                type: String,
                required: true
            }
        },
        data() {
            return {}
        },
        components: {
            vSvg
        }
    }

</script>